{%- from 'fluent/settings.sls' import fluent with context %}
{% set sleep_time = 1200 %}
#!/bin/sh
export TD_AGENT_USER="{{ fluent.user }}"
export TD_AGENT_GROUP="{{ fluent.group }}"
SLEEP_TIME={{ sleep_time }}

echo "Delayed restart called. (user: $TD_AGENT_USER, group: $TD_AGENT_GROUP) Will sleep for $SLEEP_TIME seconds before executing."
echo "Start sleeping at: $(date)"
sleep $SLEEP_TIME
echo "Sleeping finished at: $(date)"
service td-agent restart
