
{%- from 'fluent/settings.sls' import fluent with context %}
<source>
  @type tail
  format none
  path /var/log/messages
  pos_file /var/log/td-agent/pos/messages.log.pos
  tag {{fluent.providerPrefix}}.syslog
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/cloud-init.log
  pos_file /var/log/td-agent/pos/cloud-init.log.pos
  tag {{fluent.providerPrefix}}.cloud-init
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/waagent.log
  pos_file /var/log/td-agent/pos/waagent.log.pos
  tag {{fluent.providerPrefix}}.waagent
  read_from_head true
</source>
<source>
  @type tail
  format none
  path {{fluent.serverLogFolderPrefix}}/cloudera-scm-server/cloudera-scm-server.log
  pos_file /var/log/td-agent/pos/cloudera-scm-server.log.pos
  tag {{fluent.providerPrefix}}.cloudera-scm-server-log
  read_from_head true
</source>
<source>
  @type tail
  format none
  path {{fluent.serverLogFolderPrefix}}/cloudera-scm-server/cloudera-scm-server.out
  pos_file /var/log/td-agent/pos/cloudera-scm-server-out.log.pos
  tag {{fluent.providerPrefix}}.cloudera-scm-server-out
  read_from_head true
</source>
<source>
  @type tail
  format none
  path {{fluent.agentLogFolderPrefix}}/cloudera-scm-agent/cloudera-scm-agent.log
  pos_file /var/log/td-agent/pos/cloudera-scm-agent.log.pos
  tag {{fluent.providerPrefix}}.cloudera-scm-agent-log
  read_from_head true
</source>
<source>
  @type tail
  format none
  path {{fluent.agentLogFolderPrefix}}/cloudera-scm-agent/cloudera-scm-agent*.out
  pos_file /var/log/td-agent/pos/cloudera-scm-agent-out.log.pos
  tag {{fluent.providerPrefix}}.cloudera-scm-agent-out
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-ALERTPUBLISHER*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-alertpublisher-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-ALERTPUBLISHER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-EVENTSERVER*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-eventserver-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-EVENTSERVER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-HOSTMONITOR*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-hostmonitor-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-HOSTMONITOR
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-NAVIGATOR*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-navigator-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-NAVIGATOR
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-NAVIGATORMETASERVER*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-navigatormetaserver-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-NAVIGATORMETASERVER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-REPORTSMANAGER*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-reportsmanager-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-REPORTSMANAGER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-SERVICEMONITOR*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-servicemonitor-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-SERVICEMONITOR
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*mgmt-cmf-MGMT-TELEMETRYPUBLISHER*.log.out
  pos_file /var/log/td-agent/pos/cmf-mgmt-telemetrypublisher-out.log.pos
  tag {{fluent.providerPrefix}}.MGMT-TELEMETRYPUBLISHER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-yarn*-NODEMANAGER*.log.out
  pos_file /var/log/td-agent/pos/cmf-yarn-nodemanager-out.log.pos
  tag {{fluent.providerPrefix}}.YARN-NODEMANAGER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-yarn*-JOBHISTORY*.log.out
  pos_file /var/log/td-agent/pos/cmf-yarn-jobhistory-out.log.pos
  tag {{fluent.providerPrefix}}.YARN-JOBHISTORY
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-yarn*-RESOURCEMANAGER*.log.out
  pos_file /var/log/td-agent/pos/cmf-yarn-resourcemanager-out.log.pos
  tag {{fluent.providerPrefix}}.YARN-RESOURCEMANAGER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-hive*-HIVEMETASTORE*.log.out
  pos_file /var/log/td-agent/pos/cmf-hive-hms-out.log.pos
  tag {{fluent.providerPrefix}}.HIVE-HIVEMETASTORE
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-hive*-HIVESERVER2*.log.out
  pos_file /var/log/td-agent/pos/cmf-hive-hs2-out.log.pos
  tag {{fluent.providerPrefix}}.HIVE-HIVESERVER2
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-hdfs*-DATANODE*.log.out
  pos_file /var/log/td-agent/pos/cmf-hdfs-datanode-out.log.pos
  tag {{fluent.providerPrefix}}.HDFS-DATANODE
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-hdfs*-NAMENODE*.log.out
  pos_file /var/log/td-agent/pos/cmf-hdfs-namenode-out.log.pos
  tag {{fluent.providerPrefix}}.HDFS-NAMENODE
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-hdfs*-SECONDARYNAMENODE*.log.out
  pos_file /var/log/td-agent/pos/cmf-hdfs-snn-out.log.pos
  tag {{fluent.providerPrefix}}.HDFS-SECONDARYNAMENODE
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-oozie*-OOZIE_SERVER*.log.out
  pos_file /var/log/td-agent/pos/cmf-oozie-server-out.log.pos
  tag {{fluent.providerPrefix}}.OOZIE-OOZIE_SERVER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/*cmf*-zookeeper*-SERVER*.log
  pos_file /var/log/td-agent/pos/cmf-zookeeper-server.log.pos
  tag {{fluent.providerPrefix}}.ZOOKEEPER-SERVER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/spark-history-server*.log
  pos_file /var/log/td-agent/pos/spark-history-server.log.pos
  tag {{fluent.providerPrefix}}.SPARK-HISTORY_SERVER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/spark2-history-server*.log
  pos_file /var/log/td-agent/pos/spark2-history-server.log.pos
  tag {{fluent.providerPrefix}}.SPARK2-HISTORY_SERVER
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/impalad.*impala.log.INFO.*
  pos_file /var/log/td-agent/pos/impalad-info.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-impalad_INFO
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/impalad.*impala.log.WARNING.*
  pos_file /var/log/td-agent/pos/impalad-warning.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-impalad_WARNING
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/impalad.*impala.log.ERROR.*
  pos_file /var/log/td-agent/pos/impalad-error.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-impalad_ERROR
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/catalogd.*impala.log.INFO.*
  pos_file /var/log/td-agent/pos/catalogd-info.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-catalogd_INFO
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/catalogd.*impala.log.WARNING.*
  pos_file /var/log/td-agent/pos/catalogd-warning.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-catalogd_WARNING
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/catalogd.*impala.log.ERROR.*
  pos_file /var/log/td-agent/pos/catalogd-error.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-catalogd_ERROR
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/statestored.*impala.log.INFO.*
  pos_file /var/log/td-agent/pos/statestored-info.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-statestored_INFO
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/statestored.*impala.log.WARNING.*
  pos_file /var/log/td-agent/pos/statestored-warning.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-statestored_WARNING
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/*/statestored.*impala.log.ERROR.*
  pos_file /var/log/td-agent/pos/statestored-error.log.pos
  tag {{fluent.providerPrefix}}.IMPALA-statestored_ERROR
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/run/cloudera-scm-agent/process/*/logs/stderr.log
  pos_file /var/log/td-agent/pos/scm-agent-process-stderr.log.pos
  tag {{fluent.providerPrefix}}CM_COMMAND.ERROR.*
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/run/cloudera-scm-agent/process/*/logs/stdout.log
  pos_file /var/log/td-agent/pos/scm-agent-process-stdout.log.pos
  tag {{fluent.providerPrefix}}CM_COMMAND.OUT.*
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/hue/runcpserver.log
  pos_file /var/log/td-agent/pos/hue-runcpserver.log.pos
  tag {{fluent.providerPrefix}}.HUE-runcpserver
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/hue/error.log
  pos_file /var/log/td-agent/pos/hue-error.log.pos
  tag {{fluent.providerPrefix}}.HUE-error
  read_from_head true
</source>
<source>
  @type tail
  format none
  path /var/log/hue-httpd/error_log
  pos_file /var/log/td-agent/pos/hue-httpd-error.log.pos
  tag {{fluent.providerPrefix}}.HUE-HTTPD-error_log
  read_from_head true
</source>

@include output.conf