

<div class="row">
    <section class="intro-subpage">
        <div class="container">
            <h1>AWS</h1>
        </div>
    </section>
</div>

<div class="container">
    <div class="row margin50">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="clusterName" class="col-sm-2 control-label">Cluster Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="clusterName" placeholder="cluster name">
                </div>
            </div>
            <div class="form-group">
                <label for="clusterSize" class="col-sm-2 control-label">Cluster Size: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="clusterSize" placeholder="2">
                </div>
            </div>
            <div class="form-group">
                <label for="blueprint" class="col-sm-2 control-label">Blueprint: </label>
                <div class="col-sm-10">
                    <div class="list-group" id="blueprint">
                        <a class="list-group-item blueprint" ng-repeat="blueprint in blueprints">
                            <h4 class="list-group-item-heading">{{blueprint}}</h4>
                            <p class="list-group-item-text">Some text....</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="createAwsCluster()">Create</button>
                </div>
            </div>
        </form>

        <div class="alert alert-success" ng-show="isSuccessCreation">The Creation Process was success</div>

        <div class="alert alert-success" ng-show="isFailedCreation">The Creation Process failed</div>

    </div>
</div>
