<div class="row">
    <section class="intro-subpage">
        <div class="container">
            <h1>List of Cloudservices</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Azure</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>AWS</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>
<div class="row">
    <div class="container">
        <a class="btn btn-default" href="#/add_provider" role="button">Add New Cloud Provider</a>
    </div>

</div>