<div class="row">
    <section class="intro-subpage">
        <div class="container">
            <h1>List of Credentials</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Create Infra</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="provider in providers">
                    <td class="text-center">
                        <div ng-if="provider.cloudPlatform == 'AZURE' ">
                            <ul class="list-group">
                                <li class="list-group-item">Jks Password: <span class="label label-info">{{provider.parameters.jksPassword}}</span></li>
                                <li class="list-group-item">Subscription Id: <span class="label label-info">{{provider.parameters.subscriptionId}}</span></li>
                            </ul>
                        </div>
                        <div ng-if="provider.cloudPlatform == 'AWS' ">
                            <ul class="list-group">
                                <li class="list-group-item">Role Arn: {{provider.parameters.roleArn}}</li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-center"><a type="button" class="btn btn-success"  ng-href="#/{{provider.cloudPlatform}}">Create Infra</a></td>
                    <td class="text-center"><a type="button" class="btn btn-danger"  ng-click="deleteCloudService(index)">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="container">
                <a class="btn btn-default" href="#/add_provider" role="button">Add New Cloud Provider</a>
            </div>

        </div>

        <div class="margin50 row">

        </div>


        <div class="container">
            <h1>List of Infras</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Properties</th>
                    <th class="text-center">Create Cloud Instance</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat= "infra in infras track by $index">
                    <td class="text-center">{{infra.id}}</td>
                    <td class="text-center">{{infra.clusterName}}</td>
                    <td class="text-center"><span class="label label-primary">{{infra.cloudPlatform}}</span></td>
                    <td class="text-center">
                        <div ng-if="infra.cloudPlatform == 'AZURE' ">
                            <ul class="list-group">
                                <li class="list-group-item">location: <span class="label label-info">{{infra.parameters.location}}</span></li>
                                <li class="list-group-item">name: <span class="label label-info">{{infra.clusterName}}</span></li>
                                <li class="list-group-item">description: <span class="label label-info">{{infra.parameters.description}}</span></li>
                                <li class="list-group-item">subnetAddressPrefix: <span class="label label-info">{{infra.parameters.addressPrefix}}</span></li>
                                <li class="list-group-item">ssh: <span class="label label-info">{{infra.parameters.disableSshPasswordAuthentication}}</span></li>
                                <li class="list-group-item">vmType: <span class="label label-info">{{infra.parameters.vmType}}</span></li>
                                <li class="list-group-item">imageName: <span class="label label-info">{{infra.parameters.imageName}}</span></li>
                                <li class="list-group-item">userName: <span class="label label-info">{{infra.parameters.name}}</span></li>
                                <li class="list-group-item">password: <span class="label label-info">{{infra.parameters.password}}</span></li>
                                <li class="list-group-item">sshString: <span class="label label-info">{{infra.parameters.sshString}}</span></li>
                            </ul>
                        </div>
                        <div ng-if="infra.cloudPlatform == 'AWS' ">
                            <ul class="list-group">
                                <li class="list-group-item">region: <span class="label label-info">{{infra.parameters.region}}</span></li>
                                <li class="list-group-item">name: <span class="label label-info">{{infra.clusterName}}</span></li>
                                <li class="list-group-item">keyname: <span class="label label-info">{{infra.parameters.keyName}}</span></li>
                            </ul>
                        </div>
                    </td>

                    <td class="text-center"><a type="button" class="btn btn-success"  ng-href="#/cloud">Create</a></td>
                    <td class="text-center"><a type="button" class="btn btn-danger"  ng-click="deleteInfra(index)">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="margin50 row">

        </div>

        <div class="container">
            <h1>List of CloudInstances</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Cluster Size</th>
                    <th class="text-center">Infra Id</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat= "cloudinstance in cloudinstances">
                    <td class="text-center">{{cloudinstance.id}}</td>
                    <td class="text-center">{{cloudinstance.clusterSize}}</td>
                    <td class="text-center"><span class="label label-primary">{{cloudinstance.infraId}}</span></td>
                    <td class="text-center"><a type="button" class="btn btn-danger"  ng-click="deleteCloudInstance(index)">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>
