<div class="row">
    <section class="intro-subpage">
        <div class="container">
            <h1>List of Cloudservices</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Create Infra</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="provider in providers track by $index">
                    <td class="text-center">{{$index}}</td>
                    <td class="text-center">
                        <div ng-if="provider.type == 'azure' ">
                            <ul class="list-group">
                                <li class="list-group-item">location: <span class="label label-info">{{provider.jks}}</span></li>
                                <li class="list-group-item">name: <span class="label label-info">{{provider.subscriptionId}}</span></li>
                            </ul>
                        </div>
                        <div ng-if="provider.type == 'aws' ">
                            <ul class="list-group">
                                <li class="list-group-item">location: {{provider.roleArn}}</li>
                            </ul>
                        </div>
                    </td>
                    <td class="text-center"><a type="button" class="btn btn-success"  ng-href="#/{{provider.type}}">Create Infra</a></td>
                    <td class="text-center"><a type="button" class="btn btn-danger"  ng-click="deleteCloudService(index)">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="container">
                <a class="btn btn-default" href="#/add_provider" role="button">Add New Cloud Provider</a>
            </div>

        </div>

        <div class="margin50 row">

        </div>


        <div class="container">
            <h1>List of Infras</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Properties</th>
                    <th class="text-center">Create Cloud Instance</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat= "infra in infras track by $index">
                    <td class="text-center">{{$index}}</td>
                    <td class="text-center">{{infra.name}}</td>
                    <td class="text-center"><span class="label label-primary">{{infra.type}}</span></td>
                    <td class="text-center">
                        <div ng-if="infra.type == 'azure' ">
                            <ul class="list-group">
                                <li class="list-group-item">location: <span class="label label-info">{{infra.location}}</span></li>
                                <li class="list-group-item">name: <span class="label label-info">{{infra.name}}</span></li>
                                <li class="list-group-item">description: <span class="label label-info">{{infra.description}}</span></li>
                                <li class="list-group-item">subnetAddressPrefix: <span class="label label-info">{{infra.subnetAddressPrefix}}</span></li>
                                <li class="list-group-item">ssh: <span class="label label-info">{{infra.disableSshPasswordAuthentication}}</span></li>
                                <li class="list-group-item">vmType: <span class="label label-info">{{infra.vmType}}</span></li>
                                <li class="list-group-item">imageName: <span class="label label-info">{{infra.imageName}}</span></li>
                                <li class="list-group-item">userName: <span class="label label-info">{{infra.userName}}</span></li>
                                <li class="list-group-item">password: <span class="label label-info">{{infra.password}}</span></li>
                                <li class="list-group-item">sshString: <span class="label label-info">{{infra.sshString}}</span></li>
                            </ul>
                        </div>
                        <div ng-if="infra.type == 'aws' ">
                            <ul class="list-group">
                                <li class="list-group-item">location: <span class="label label-info">{{infra.location}}</span></li>
                                <li class="list-group-item">name: <span class="label label-info">{{infra.name}}</span></li>
                                <li class="list-group-item">keyname: <span class="label label-info">{{infra.keyname}}</span></li>
                            </ul>
                        </div>
                    </td>

                    <td class="text-center"><a type="button" class="btn btn-success"  ng-href="#/cloud">Create</a></td>
                    <td class="text-center"><a type="button" class="btn btn-danger"  ng-click="deleteInfra(index)">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="margin50 row">

        </div>

        <div class="container">
            <h1>List of CloudInstances</h1>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Cluster Size</th>
                    <th class="text-center">Infra Id</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat= "cloudinstance in cloudinstances track by $index">
                    <td class="text-center">{{$index}}</td>
                    <td class="text-center">{{cloudinstance.clusterSize}}</td>
                    <td class="text-center"><span class="label label-primary">{{cloudinstance.infraId}}</span></td>
                    <td class="text-center"><a type="button" class="btn btn-danger"  ng-click="deleteCloudInstance(index)">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>
