<div id="page-home">
    <div class="fill-bg">
        <img src="img/bg-login-page.jpg" alt="">
    </div>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <img src="img/logo.png" alt="">
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div class="panel panel-dark-transparent center-block">
                        <div class="panel-heading">
                            <h1 class="panel-title">cloudbreak</h1>
                        </div>
                        <div class="panel-body">
                            <form role="form" autocomplete="on">

                                <div class="form-group"><!-- OPTIONAL HTML:
										class: 'has-feedback' - got validation result AND
										class: 'has-error' – error OR
										class: 'has-success' - ok
										-->
                                    <label class="sr-only" for="emailFieldLogin">email</label>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                        <input class="form-control" type="email" ng-model="emailFieldLogin" id="emailFieldLogin" placeholder="email" required>
                                        <!-- OPTIONAL HTML: (only for textfields)
                                        <i class="fa fa-warning form-control-feedback"></i>
                                            - validation error OR
                                        <i class="fa fa-check form-control-feedback"></i>
                                            - validation ok
                                        -->
                                    </div>
                                    <!-- .input-group -->
                                    <!-- OPTIONAL HTML:
                                    <span class="help-block">Invalid email address</span>
                                        - inline validation error message
                                    -->
                                </div>
                                <!-- .form-group -->
                                <div class="form-group">
                                    <label class="sr-only" for="passwFieldLogin">jelszó</label>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                                        <input class="form-control" type="password" ng-model="passwFieldLogin" id="passwFieldLogin" placeholder="password" required>
                                    </div>
                                    <!-- .input-group -->
                                    <p class="text-right"><a href="#" id="login-forgot-passw"><i class="fa fa-question-circle fa-fw"></i> forgot my password</a>
                                    </p>
                                </div>
                                <!-- .form-group -->
                                <a href="#" type="submit" ng-click="signIn()" id="login-btn" class="btn btn-info btn-block" role="button"><i class="fa fa-sign-in fa-fw"></i> login</a>

                            </form>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- .panel-transp" -->

                </div>
                <!-- .col-sm-8 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>


    <footer>

    </footer>


    <script type="text/javascript">
        $(document).ready(function () {
            // forgotten login password
            $('#login-forgot-passw').click(function (event) {
                $(this).css("visibility", "hidden");
                $('#passwFieldLogin').prop("disabled", "true");
                // OPTIONAL HTML: password reset button text
                $('#login-btn').html("<i class='fa fa-paper-plane fa-fw'></i> new password to email");
                event.preventDefault();
            });
            // fake login
            $('#login-btn').click(function () {
                window.location.href = "console.html";
            });
        });
    </script>
</div>