{%- from 'freeipa/settings.sls' import freeipa with context -%}
backup_location={{freeipa.backup_location}}
backup_platform={{freeipa.backup_platform}}
azure_instance_msi={{freeipa.azure_instance_msi}}
