{%- from 'freeipa/settings.sls' import freeipa with context -%}
#!/bin/bash
if [ ! -f /tmp/freeipa_backup_monthly_bypass ]; then
    CRON_BACKUP=true /usr/local/bin/freeipa_backup -t FULL -f "{{freeipa.hostname}}/full"
fi
