{%- from 'freeipa/settings.sls' import freeipa with context -%}
backup_location={{freeipa.backup_location}}
backup_platform={{freeipa.backup_platform}}
azure_instance_msi={{freeipa.azure_instance_msi}}
gcp_service_account={{freeipa.gcp_service_account}}
http_proxy={{freeipa.http_proxy}}
aws_region={{freeipa.aws_region}}
