{%- set os = salt['grains.get']('os') %}
{%- set osMajorRelease = salt['grains.get']('osmajorrelease') | int %}
debug: False
port: 5080
host: '0.0.0.0'
publicCert: 'publicCert.pem'
privateKey: 'privateKey.pem'
realm: {{ salt['pillar.get']('freeipa:domain') }}
hostname: {{ grains['fqdn'] }}
timeout: 1000
cluster_services: []
max_retries: 2
services:
  - certmonger
  - crond
  - gssproxy
  - httpd
  - ipa-custodia
  - ipa-dnskeysyncd
  - kadmin
  - krb5kdc
{%- if os == 'RedHat' and osMajorRelease > 8 %}
  - named
{%- else %}
  - named-pkcs11
  - polkit
{%- endif %}
  - nginx
  - pki-tomcatd@pki-tomcat
  - salt-api
  - salt-bootstrap
  - salt-master
  - salt-minion
  - sshd
  - sssd
  - dirsrv
backup:
  status_file: /var/log/ipabackup_status_hourly.json
  success_file: /cdp/ipahealthagent/backup.success
  unhealthy_after_no_backup_in_min: 2880
  required_uptime_in_min: 180
  config_file: /etc/freeipa_backup.conf
