port: {{ pillar['ldapagent']['port'] }}
host: '{{ pillar['ldapagent']['host'] }}'
ldapHost: '{{ salt['grains.get']('fqdn') }}'
baseDn: '{{ pillar['ldapagent']['baseDn'] }}'
useSsl: {{ pillar['ldapagent']['useTls'] | default(False) }}
