{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- from 'nodestatus/settings.sls' import nodestatus with context %}
server:
  port: 61888
  folder: /var/lib/cdp-nodestatus/report{% if nodestatus.serverUsername and nodestatus.serverPassword %}
  auth:
    username: {{ nodestatus.serverUsername }}
    password: {{ nodestatus.serverPassword | sha256 }}
    hash: sha256{% endif %}
commands:{% if telemetry.databusEndpoint %}
  - "cdp-nodestatus collect --databus-url {{ telemetry.databusEndpoint }}"{% else %}
  - "cdp-nodestatus collect"{% endif%}
firstSleep: 660
sleepTime: 3600{% if telemetry.cdpTelemetryVersion > 4 %}
saltPing:
  enabled: false
  firstSleep: 120
  sleepTime: 1200
saltPingCacheEvictSeconds: 20
{% endif %}