{%- from 'nodestatus/settings.sls' import nodestatus with context %}
server:
  port: 61888
  folder: /var/lib/cdp-nodestatus/report{% if nodestatus.serverUsername and nodestatus.serverPassword %}
  auth:
    username: {{ nodestatus.serverUsername }}
    password: {{ nodestatus.serverPassword | sha256 }}
    hash: sha256{% endif %}
commands:
  - "cdp-nodestatus collect {{ nodestatus.collectParams }}"
firstSleep: 660
sleepTime: 3600{% if nodestatus.saltPingAvailable %}
saltPing:
  enabled: false
  firstSleep: 120
  sleepTime: 1200
saltPingCacheEvictSeconds: 20
{% endif %}