{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- from 'monitoring/settings.sls' import monitoring with context %}
config:
    metricsCollectPeriod: 120
    availableClusterUpdatePeriod: 600
    availableServicesUpdatePeriod: 240
    availableMetricsUpdatePeriod: 300
clouderaManager:
    apiVersion: "v40"
    user: "{{ monitoring.cmUsername }}"
    password: "{{ monitoring.cmPassword }}"
    clusterType: "{{ monitoring.cmClusterType }}"
    protocol: "https"
    port: "7183"
services:
    - name: hdfs
      metrics:
        - jvm_max_memory_mb_across_datanodes
        - jvm_max_memory_mb_across_namenodes
        - files_total
      health_checks:
roles:
globalFields:
    clusterCrn: "{{ telemetry.clusterCrn }}"
    clusterName: "{{ telemetry.clusterName }}"
    clusterVersion: "{{ telemetry.clusterVersion }}"
    clusterType: "{{ telemetry.clusterType }}"
    platform: "{{ telemetry.platform }}"
logger:
    path: /var/log/metrics-collector/metrics-collector.log
    max_bytes: 10485760
    backup_count: 10
    debug: True
statusReportFiles:
     metricsFileLocation: /var/lib/cdp-nodestatus/report/cm_metrics_report.json
     healthchecksFileLocation: /var/lib/cdp-nodestatus/report/cm_health_report.json