<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
  <title>$meta.reportTitle - $messages.getString("suites")</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  <link href="reportng.css" rel="stylesheet" type="text/css" />
  #if ($meta.stylesheetPath)
  <link href="custom.css" rel="stylesheet" type="text/css" />
  #end
  <script type="text/javascript" src="reportng.js"></script>
</head>
<body style="margin-top: 0;">

<div id="sidebarHeader">
  <h2>$meta.reportTitle</h2>
  <p>
    <a href="overview.html" target="main">$messages.getString("overview")</a>
    #if (!$utils.allOutput.empty)
    &#183; <a href="output.html" target="main">$messages.getString("logOutput")</a>
    #end
    #if ($meta.coverageLink)
    &#183; <a href="$meta.coverageLink" target="_top">$messages.getString("coverageReport")</a>
    #end
  </p>
</div>
<table id="suites">
  #foreach ($suite in $suites)
  <thead>
    <tr>
      <th class="header suite" onclick="toggleElement('tests-${velocityCount}', 'table-row-group'); toggle('toggle-${velocityCount}')">
        <span id="toggle-${velocityCount}" class="toggle">&#x25bc;</span>${suite.name}
      </th>
    </tr>
  </thead>
  <tbody id="tests-${velocityCount}" class="tests">
    #set ($suiteId = $velocityCount)
    #foreach ($result in $suite.results)
        #set ($failuresExist = $result.testContext.failedTests.size()>0 || $result.testContext.failedConfigurations.size()>0)

        #if (($onlyReportFailures && $failuresExist) || (!$onlyReportFailures))
        <tr>
      <td class="test">
        #if ($result.testContext.failedTests.size() > 0)
        <span class="failureIndicator" title="$messages.getString("failed.tooltip")">&#x2718;</span>
        #else
          #if ($result.testContext.skippedTests.size() > 0)
          <span class="skipIndicator" title="$messages.getString("skipped.tooltip")">&#x2714;</span>
          #else
          <span class="successIndicator" title="$messages.getString("passed.tooltip")">&#x2714;</span>
          #end
        #end
        <a href="suite${suiteId}_test${velocityCount}_results.html" target="main">$result.testContext.name</a>
        #set ($logSearchUrl = $result.testContext.getAttribute("logSearchUrl"))
        #if ( $logSearchUrl )
        &#183; <a href=$logSearchUrl target="_top">logs</a>
        #end
      </td>
    </tr>
    #end
    #end
  </tbody>
  #end
</table>
</body>
</html>
