{%- from 'monitoring/settings.sls' import monitoring with context %}
[Unit]
Description=CDP BlackBox Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/opt/blackbox_exporter/blackbox.env
ExecStart=/opt/blackbox_exporter/blackbox_exporter \
    --web.config.file=/opt/blackbox_exporter/blackbox_exporter-web-config.yml \
    --config.file=/opt/blackbox_exporter/blackbox.yml --web.listen-address=:{{ monitoring.blackboxExporterPort }}

Restart=always

[Install]
WantedBy=multi-user.target