{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- from 'monitoring/settings.sls' import monitoring with context %}
[Unit]
Description=CDP VM agent for collecting metrics
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/cdp-vmagent/bin/vmagent-prod \
{%- if monitoring.requestSignerEnabled %}
     -remoteWrite.url=https://localhost:{{ monitoring.requestSignerPort }} \
     -remoteWrite.tlsInsecureSkipVerify=true \
     -remoteWrite.basicAuth.username={{ monitoring.requestSignerUser }} \
     {%- if monitoring.localPassword %}
     -remoteWrite.basicAuth.passwordFile=/opt/cdp-vmagent/request_signer_pwd_file \
     {%- endif %}
{%- else %}
     -remoteWrite.url={{ monitoring.remoteWriteUrl }} \
     {%- if telemetry.proxyUrl %}
     -remoteWrite.proxyURL={{ telemetry.proxyUrl }} \
     {%- endif %}
     {%- if monitoring.username %}
     -remoteWrite.basicAuth.username={{ monitoring.username }} \
       {%- if monitoring.password %}
     -remoteWrite.basicAuth.passwordFile=/opt/cdp-vmagent/remote_pwd_file \
       {%- endif %}
     {%- elif monitoring.token %}
     -remoteWrite.bearerTokenFile=/opt/cdp-vmagent/remote_token_file \
     {%- endif %}
{%- endif %}
     -httpListenAddr=:{{ monitoring.agentPort }} \
{%- if monitoring.username and monitoring.localPassword %}
     -httpAuth.username={{ monitoring.agentUser }} -httpAuth.password={{ monitoring.localPassword }} \
{%- endif %}
     -tls -tlsCertFile=/opt/cdp-vmagent/conf/vmagent.crt -tlsKeyFile=/opt/cdp-vmagent/conf/vmagent.key \
     -remoteWrite.maxDiskUsagePerURL={{ monitoring.agentMaxDiskUsage }} \
     -promscrape.config=/opt/cdp-vmagent/prometheus.yml
Restart=always

[Install]
WantedBy=multi-user.target