[Unit]
Description=Dev Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/dev-prometheus/prometheus \
  --config.file=/opt/dev-prometheus/prometheus.yml \
  --storage.local.path="/opt/dev-prometheus/data/dev-prometheus" \
  --web.console.templates=/opt/dev-prometheus/consoles \
  --web.console.libraries=/opt/dev-prometheus/console_libraries \
  --web.listen-address=0.0.0.0:9090

Restart=always

[Install]
WantedBy=multi-user.target