com.sun.security.jgss.initiate {
com.sun.security.auth.module.Krb5LoginModule required
renewTGT=false
doNotPrompt=true
useKeyTab=true
keyTab="/etc/security/keytabs/knox.service.keytab"
principal="knox/{{ salt['grains.get']('nodename') }}.{{ salt['grains.get']('domain') }}@{{ salt['pillar.get']('kerberos:realm') }}"
storeKey=true
useTicketCache=false;
};