{%- from 'databus/settings.sls' import databus with context %}[{{ profileName }}]
{{ accessKeyIdName }}={{ databus.accessKeyId }}
{{ accessKeySecretName }}={{ databus.accessKeySecret }}
{{ accessKeySecretAlgoName }}={{ databus.accessKeySecretAlgorithm }}