{%- from 'monitoring/settings.sls' import monitoring with context %}
tls_server_config:
  cert_file: /opt/blackbox_exporter/blackbox_exporter.crt
  key_file: /opt/blackbox_exporter/blackbox_exporter.key
  {# The ciphersuites listed here need to have the HTTP/2 supported ones listed first.
     Please test the list with both blackbox-exporter version 0.19.0 and 0.25.0 (or newer)!
     Version 0.19.0 will panic if there are any non-HTTP/2 approved ciphersuites listed before an HTTP/2 approved one. #}
  {# Please make sure all listed ciphersuites are supported in the given go version of each blackbox-exporter used.
     Please test the list with each blackbox-exporter version in use, and branch the list based on the version if needed! #}
  cipher_suites:
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
{%- if monitoring.localPassword %}
{%- set command = '/opt/salt/scripts/monitoring-secret-handler.sh ' + monitoring.blackboxExporterUser + ' /opt/blackbox_exporter/blackbox_pwd /opt/blackbox_exporter/basic_auth_cred' %}
{%- set basic_auth_str = salt['cmd.run'](command) %}
basic_auth_users:
  {{ monitoring.blackboxExporterUser }}: {{ basic_auth_str }}
{%- endif %}
