{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- if telemetry.proxyUrl %}
HTTPS_PROXY={{ telemetry.proxyUrl }}
  {%- if telemetry.noProxyHosts %}
NO_PROXY={{ telemetry.noProxyHosts }}
  {%- endif %}
{%- endif %}