{%- from 'monitoring/settings.sls' import monitoring with context %}[dbus]
dbus_access_key_id={{ monitoring.databusAccessKeyId }}
dbus_access_secret_key={{ monitoring.databusAccessKeySecret }}
dbus_access_secret_key_algo=Ed25519