{%- from 'monitoring/settings.sls' import monitoring with context %}
[Unit]
{% if monitoring.type == "cloudera_manager" %}
After=cloudera-scm-server.service
Description=Metrics Collector service for Cloudera Manager
{% else %}
Description=Metrics Collector service for FreeIPA
{% endif %}

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python2 /opt/metrics-collector/metrics_collector.py --config /etc/metrics-collector/conf/metrics-collector.yaml
PIDFile=/var/run/metrics-collector.pid
RestartSec=5
TimeoutStopSec=5
SyslogIdentifier=​metrics_collector
ExecStop=/bin/kill $MAINPID
SuccessExitStatus=1 143

[Install]
WantedBy=multi-user.target