{%- from 'monitoring/settings.sls' import monitoring with context %}[dbus]
monitoring_access_key_id={{ monitoring.monitoringAccessKeyId }}
monitoring_access_secret_key={{ monitoring.monitoringPrivateKey }}
monitoring_access_secret_key_algo=Ed25519