{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- from 'monitoring/settings.sls' import monitoring with context %}
{%- set hostgroup = salt['grains.get']('hostgroup') %}
{%- set cdp_prometheus_installed = salt['file.directory_exists' ]('/opt/cdp-prometheus') %}
{%- set instance_name = salt['grains.get']('fqdn') %}
{%- set network_addresses_file = '/opt/cdp-prometheus/network-addresses.json' %}
{%- if telemetry.platform in ["AWS", "AZURE", "GCP"]  %}
  {%- set get_instance_cmd = "python3 /opt/salt/scripts/instanceid_retriever.py " +  telemetry.platform %}
  {%- set instance_cmd_output = salt.cmd.run(get_instance_cmd) %}
  {%- if instance_cmd_output %}
    {%- set instance_name = instance_cmd_output %}
  {%- endif %}
  {%- if telemetry.cdpTelemetryPackageVersion is defined and telemetry.cdpTelemetryPackageVersion is not none and telemetry.cdpTelemetryPackageVersion %}
    {%- if salt['pkg.version_cmp'](telemetry.cdpTelemetryPackageVersion,'0.4.29-1') >= 0 %}
          {%- set blackboxClouderaUrls = monitoring.blackboxExporterClouderaLinks %}
          {%- set blackboxCloudUrls = monitoring.blackboxExporterCloudLinks %}
    {%- endif %}
  {%- endif %}
{%- endif %}
global:
  scrape_interval: {{ monitoring.scrapeIntervalSeconds }}s
{%- if cdp_prometheus_installed %}
remote_write:
  {%- if monitoring.requestSignerEnabled %}
  - url: https://localhost:{{ monitoring.requestSignerPort }}
    basic_auth:
      username: {{ monitoring.requestSignerUser }}
      password_file: /opt/cdp-prometheus/request_signer_pwd_file
  {%- else %}
  - url: {{ monitoring.remoteWriteUrl }}
    {%- if telemetry.proxyUrl %}
    proxy_url: {{ telemetry.proxyUrl }}
    {%- endif %}
  {%- endif %}
    queue_config:
      min_backoff: {{ monitoring.minBackoff }}
      max_backoff: {{ monitoring.maxBackoff }}
      max_shards: {{ monitoring.maxShards }}
      max_samples_per_send: {{ monitoring.maxSamplesPerSend }}
      capacity: {{ monitoring.capacity }}
    metadata_config:
      max_samples_per_send: {{ monitoring.maxSamplesPerSend }}
    tls_config:
      insecure_skip_verify: true
{%- endif %}
scrape_configs:
{%- if cdp_prometheus_installed %}
  - job_name: prometheus
    scheme: 'https'
    static_configs:
     - targets: ['localhost:{{ monitoring.agentPort }}']
       labels:
         form_factor: 'paas-vm'
         app_type: {{ telemetry.clusterType }}
         cluster_id: {{ telemetry.clusterCrn }}
         platform: {{ telemetry.platform }}
         environment_crn: {{ telemetry.environmentCrn }}
{%- if hostgroup %}
         hostgroup: {{ hostgroup }}
{%- endif %}
    relabel_configs:
      - target_label: instance
        replacement: {{ instance_name }}:{{ monitoring.agentPort }}
{%- if monitoring.localPassword %}
    basic_auth:
      username: {{ monitoring.agentUser }}
      password: {{ monitoring.localPassword }}
{%- endif %}
    tls_config:
       insecure_skip_verify: true
{%- endif %}
{%- if monitoring.enabled and monitoring.nodeExporterExists %}
  - job_name: node_exporter
    scheme: 'https'
    static_configs:
     - targets: ['localhost:{{ monitoring.nodeExporterPort }}']
       labels:
         form_factor: 'paas-vm'
         app_type: {{ telemetry.clusterType }}
         cluster_id: {{ telemetry.clusterCrn }}
         platform: {{ telemetry.platform }}
         environment_crn: {{ telemetry.environmentCrn }}
{%- if hostgroup %}
         hostgroup: {{ hostgroup }}
{%- endif %}
    relabel_configs:
      - target_label: instance
        replacement: {{ instance_name }}:{{ monitoring.nodeExporterPort }}
{%- if monitoring.localPassword %}
    basic_auth:
      username: {{ monitoring.nodeExporterUser }}
      password: {{ monitoring.localPassword }}
{%- endif %}
    tls_config:
       insecure_skip_verify: true
{%- endif %}
{%- if (monitoring.type == "cloudera_manager" and "manager_server" in grains.get('roles', [])) or monitoring.blackboxExporterCheckOnAllNodes %}
{%- if blackboxClouderaUrls is defined and blackboxClouderaUrls and blackboxClouderaUrls|length > 0 %}
  - job_name: 'blackbox-cloudera'
    scrape_interval: {{ monitoring.blackboxExporterClouderaIntervalSeconds }}s
    metrics_path: /probe
    scheme: 'https'
    params:
      module: [http_2xx]
    static_configs:
      - targets: {{ blackboxClouderaUrls }}
        labels:
          resource_crn: {{ telemetry.clusterCrn }}
          platform: {{ telemetry.platform }}
          environment_crn: {{ telemetry.environmentCrn }}
{%- if hostgroup %}
          hostgroup: {{ hostgroup }}
{%- endif %}
          proxy: {% if telemetry.proxyUrl %}yes{%- else %}no{% endif %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: address
      - target_label: __address__
        replacement: 127.0.0.1:{{ monitoring.blackboxExporterPort }}
      - target_label: instance
        replacement: {{ instance_name }}:{{ monitoring.blackboxExporterPort }}
{%- if monitoring.localPassword %}
    basic_auth:
      username: {{ monitoring.blackboxExporterUser }}
      password: {{ monitoring.localPassword }}
{%- endif %}
    tls_config:
      insecure_skip_verify: true
{%- else %}
  - job_name: 'blackbox'
    metrics_path: /probe
    scheme: 'https'
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://archive.cloudera.com
        labels:
          resource_crn: {{ telemetry.clusterCrn }}
          platform: {{ telemetry.platform }}
          environment_crn: {{ telemetry.environmentCrn }}
{%- if hostgroup %}
          hostgroup: {{ hostgroup }}
{%- endif %}
          proxy: {% if telemetry.proxyUrl %}yes{%- else %}no{% endif %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: address
      - target_label: __address__
        replacement: 127.0.0.1:{{ monitoring.blackboxExporterPort }}
      - target_label: instance
        replacement: {{ instance_name }}:{{ monitoring.blackboxExporterPort }}
{%- if monitoring.localPassword %}
    basic_auth:
      username: {{ monitoring.blackboxExporterUser }}
      password: {{ monitoring.localPassword }}
{%- endif %}
    tls_config:
      insecure_skip_verify: true
{%- endif %}
{%- if blackboxCloudUrls is defined and blackboxCloudUrls and blackboxCloudUrls|length > 0 %}
  - job_name: 'blackbox-cloud'
    scrape_interval: {{ monitoring.blackboxExporterCloudIntervalSeconds }}s
    metrics_path: /probe
    scheme: 'https'
    params:
      module: [http_2xx]
    static_configs:
      - targets: {{ blackboxCloudUrls }}
        labels:
          resource_crn: {{ telemetry.clusterCrn }}
          platform: {{ telemetry.platform }}
          environment_crn: {{ telemetry.environmentCrn }}
{%- if hostgroup %}
          hostgroup: {{ hostgroup }}
{%- endif %}
          proxy: {% if telemetry.proxyUrl %}yes{%- else %}no{% endif %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: address
      - target_label: __address__
        replacement: 127.0.0.1:{{ monitoring.blackboxExporterPort }}
      - target_label: instance
        replacement: {{ instance_name }}:{{ monitoring.blackboxExporterPort }}
{%- if monitoring.localPassword %}
    basic_auth:
      username: {{ monitoring.blackboxExporterUser }}
      password: {{ monitoring.localPassword }}
{%- endif %}
    tls_config:
      insecure_skip_verify: true
{%- endif %}
{%- endif %}
{%- if monitoring.type == "cloudera_manager" and "manager_server" in grains.get('roles', []) %}
  - job_name: 'smon_health'
    scheme: {% if monitoring.cmAutoTls %}'https'{% else %}'http'{% endif %}
    static_configs:
      - targets: ['localhost:{{ monitoring.cmMetricsExporterPort }}']
        labels:
          cluster_id: {{ telemetry.clusterCrn }}
          platform: {{ telemetry.platform }}
          environment_crn: {{ telemetry.environmentCrn }}
    relabel_configs:
      - target_label: instance
        replacement: {{ instance_name }}:{{ monitoring.cmMetricsExporterPort }}
    basic_auth:
      username: {{ monitoring.cmUsername }}
      password: {{ monitoring.cmPassword }}
    tls_config:
      insecure_skip_verify: true
{%- endif %}