auth:
  license:
    file: license.txt
  config:
    dir: /etc/auth
  databus:
    credential:
      tp:
        file: altus_credentials
      fluent:
        file: databus_credentials
  mock:
    baseimage.enable: true
    event-generation:
      expiration-minutes: 10
    freeipa:
      ha:
        enable: true
        repair.enable: true
      healthcheck.enable: true
    cloudstoragevalidation.enable: true
    runtime.upgrade.enable: true
    sshpublickey.file: key.pub
    raz.enable: true
    freeipadlebsencryption.enable: true
    azure.single.resourcegroup.enable: true
    azure.single.resourcegroup.dedicated.storage.account.enable: true
    fastebsencryption.enable: true
    cloudidentitymappinng.enable: true
    mediumdutysdx.enable: true
    upgrade.internalrepo.enable: true
    hbase.cloudstorage.enable: true
    differentdatahubversionthandatalake.enabled: true
    database.wire.encryption.enable: true
    datahub.runtime.upgrade.enable: true
    embedded.database.on.attached.disk.enable: false
    datalake.loadbalancer.enable: false
