auth:
  license:
    file: license.txt
  config:
    dir: /etc/auth
  databus:
    credential:
      tp:
        file: altus_credentials
      fluent:
        file: databus_credentials
  mock:
    baseimage.enable: true
    event-generation:
      expiration-minutes: 10
    freeipa:
      ha:
        repair.enable: true
    cloudstoragevalidation.enable:
      global: true
      aws: true
      azure: true
      gcp: false
    runtime.upgrade.enable: true
    sshpublickey.file: key.pub
    raz.enable: true
    raws3.enable: false
    azure.marketplace.images.enable: true
    azure.single.resourcegroup.enable: true
    azure.single.resourcegroup.dedicated.storage.account.enable: true
    cloudidentitymappinng.enable: true
    mediumdutysdx.enable: true
    upgrade.internalrepo.enable: true
    hbase.cloudstorage.enable: false
    datalake:
      efs.enable: false
      customimage.enable: true
      loadbalancer.enable: false
      backup.on.upgrade.enable: false
    differentdatahubversionthandatalake.enabled: true
    database.wire.encryption.enable: true
    datahub.runtime.upgrade.enable: true
    ccmv2.enable: false
    environment.experience.deletion.enable: true
    endpointgateway.enable.azure: false
    endpointgateway.skip.validation: false
    cm.sync.command.poller.enable: true
    network.preflight.notifications.enable: true
    datahub.nodestatus.check.enable: true
    nodestatus.salt.ping.enable: true
    metrics.databus.processing.enable: false
    user.sync:
      credentials.update.optimization.enable: true
      deactivateuser.enable: true
    azure:
      disk:
        SSEWithCMK.enable: true
    aws:
      disk:
        EncryptionWithCMK.enable: true
    cm.ha.enable: false
    conclusion.checker.send.user.event.enable: true
    ha.repair.enable: true
    ha.upgrade.enable: true
    ephemeral.disks.for.temp.data.enable: true

crn:
  partition: cdp
  region: us-west-1
