auth:
  license:
    file: license.txt
  config:
    dir: /etc/auth
  databus:
    credential:
      tp:
        file: altus_credentials
      fluent:
        file: databus_credentials
  mock:
    baseimage.enable: true
    event-generation:
      expiration-minutes: 10
    freeipa:
      multiaz.enable: true
      rebuild.enable: true
      batch.call.enable: true
      usersync.thread.timeout.enable: true
      delayedstopstart.enable: true
      privileged.user.enable: true
    cloudstoragevalidation.enable:
      global: true
      aws: true
      azure: true
      gcp: false
    sshpublickey.file: key.pub
    raws3.enable: false
    azure.marketplace.images.enable: true
    azure.marketplace.images.only.enable: false
    azure.single.resourcegroup.dedicated.storage.account.enable: true
    cloudidentitymapping.enable: true
    microdutysdx.enable: true
    upgrade.internalrepo.enable: true
    hbase.cloudstorage.enable: false
    datalake:
      efs.enable: false
      customimage.enable: true
      loadbalancer.enable: true
      backup.on.resize.enable: true
      light.to.medium.migration.enable: true
      recovery.resize.enable: true
      multiaz.enable: true
      select.instance.type.enable: true
      zdu.osupgrade.enable: true
      backup.restore.permission.checks.enabled: true
      backup.compression.enable: false
    differentdatahubversionthandatalake.enabled: true
    database.wire.encryption.enable: true
    database.wire.encryption.datahub.enable: false
    datahub:
      runtime.upgrade.enable: true
      instancetypes.enable: false
    environment.experience.deletion.enable: true
    endpointgateway.enable.azure: false
    endpointgateway.enable.gcp: false
    endpointgateway.skip.validation: false
    cm.sync.command.poller.enable: true
    datahub.nodestatus.check.enable: true
    nodestatus.salt.ping.enable: true
    diagnostics.vm.enable: true
    compute.monitoring.enable: false
    user.sync:
      credentials.update.optimization.enable: true
      group-size.enforce-limit.enable: true
      split-freeipa-user-retrieval.enable: true
    azure:
      encryptionAtHost.enable: false
      certificate.auth.enable: true
    aws:
      native.variant.migration.enable: false
    gcp:
    cm.ha.enable: false
    conclusion.checker.send.user.event.enable: true
    ha.repair.enable: true
    ui:
      edp.progress.bar.enable: true
    unbound.elimination.enable: true
    targeted.upscale.enable: true
    e2e.test.only.enable: true
    saas.enable: false
    workloadiam.sync:
      routing.enable: false
      enable: false
    saas.sdx.integration.enable: false
    salt.rotatepassword.enable: true
    postgres.upgrade.embedded.enable: true
    postgres.upgrade.exception.enable: false
    postgres.upgrade.skip.attached.datahubs.check.enable: false
    postgres.upgrade.skip.service.stop.enable: false
    environment.edit.proxy.enable: true
    upgrade.skip.attached.datahubs.check.enable: false
    targeting.subnets.for.endpoint.access.gateway.enable: true
    cost.calculation.enable: true
    co2.calculation.enable: true
    enforce.aws.native.single.az.enabled: false
    azure.database.flexibleserver.enabled: true
    secret.rotation.enabled: true
crn:
  partition: cdp
  region: us-west-1
