auth:
  license:
    file: license.txt
  config:
    dir: /etc/auth
  databus:
    credential:
      tp:
        file: altus_credentials
      fluent:
        file: databus_credentials
  mock:
    baseimage.enable: true
    event-generation:
      expiration-minutes: 10
    freeipa:
      ha:
        repair.enable: true
    cloudstoragevalidation.enable:
      global: true
      aws: true
      azure: false
      gcp: false
    runtime.upgrade.enable: true
    sshpublickey.file: key.pub
    raz.enable: true
    raws3.enable: true
    azure.single.resourcegroup.enable: true
    azure.single.resourcegroup.dedicated.storage.account.enable: true
    cloudidentitymappinng.enable: true
    mediumdutysdx.enable: true
    upgrade.internalrepo.enable: true
    hbase.cloudstorage.enable: false
    datalake.efs.enable: false
    datalake.customimage.enable: true
    differentdatahubversionthandatalake.enabled: true
    database.wire.encryption.enable: true
    datahub.runtime.upgrade.enable: true
    datalake.loadbalancer.enable: false
    ccmv2.enable: false
    environment.experience.deletion.enable: true
    endpointgateway.enable: false
    cm.sync.command.poller.enable: true
    network.preflight.notifications.enable: true
    user.sync.credentials.update.optimization.enable: true
    azure:
      disk:
        SSEWithCMK.enable: true
