auth:
  license:
    file: license.txt
  config:
    dir: /etc/auth
  databus:
    credential:
      tp:
        file: altus_credentials
      fluent:
        file: databus_credentials
  mock:
    baseimage.enable: true
    event-generation:
      expiration-minutes: 10
    freeipa:
      upgrade.enable: true
      multiaz.enable: true
      ha:
        repair.enable: true
      rebuild.enable: true
    cloudstoragevalidation.enable:
      global: true
      aws: true
      azure: true
      gcp: false
    runtime.upgrade.enable: true
    sshpublickey.file: key.pub
    raws3.enable: false
    azure.marketplace.images.enable: true
    azure.single.resourcegroup.enable: true
    azure.single.resourcegroup.dedicated.storage.account.enable: true
    cloudidentitymappinng.enable: true
    microdutysdx.enable: true
    upgrade.internalrepo.enable: true
    hbase.cloudstorage.enable: false
    datalake:
      efs.enable: false
      customimage.enable: true
      loadbalancer.enable: false
      backup.on.upgrade.enable: true
      backup.on.resize.enable: true
      light.to.medium.migration.enable: true
      recovery.resize.enable: true
      multiaz.enable: true
      select.instance.type.enable: true
    differentdatahubversionthandatalake.enabled: true
    database.wire.encryption.enable: true
    datahub:
      runtime.upgrade.enable: true
      os.upgrade.enable: true
      instancetypes.enable: false
    ccmv2.enable: false
    ccmv2jumpgate.enable: false
    ccmv2.useOneWayTls: false
    ccmv1.upgradeToV2Jumpgate.enable: true
    ccmv2.upgradeToV2Jumpgate.enable: true
    environment.experience.deletion.enable: true
    endpointgateway.enable.azure: false
    endpointgateway.enable.gcp: false
    endpointgateway.skip.validation: false
    cm.sync.command.poller.enable: true
    datahub.nodestatus.check.enable: true
    nodestatus.salt.ping.enable: true
    metrics.databus.processing.enable: false
    diagnostics.vm.enable: true
    user.sync.credentials.update.optimization.enable: true
    freeipa.batch.call.enable: true
    azure:
      disk:
        SSEWithCMK.enable: true
    aws:
      native.variant.migration.enable: true
      disk:
        EncryptionWithCMK.enable: true
    datahub.customconfigs.enable: true
    gcp:
      disk:
        EncryptionWithCMEK.enable: true
    cm.ha.enable: false
    conclusion.checker.send.user.event.enable: true
    ha.repair.enable: true
    ha.upgrade.enable: true
    ephemeral.disks.for.temp.data.enable: true
    ui:
      edp.progress.bar.enable: true
    unbound.elimination.enable: true
    targeted.upscale.enable: true
    e2e.test.only.enable: true

crn:
  partition: cdp
  region: us-west-1
