/build
*/bin
.env
.settings
.project
.classpath
.gradle
.vscode
gradle

# IDEA
.idea
*.ipr
*.iws
.shelf/
.run/

.jpb/
.nb-gradle-properties
.nb-gradle
*.iml
.apib
.DS_Store
*.jks
*.log
atlassian*
userdatas/
out/
curl_config_admin_user
*.suml
startit.sh
integration-test/integcb/docker-containers
integration-test/build/
integration-test/test-output/
integration-test/src/main/resources/testsuites/custom/
*_log/
*-output/
gradle/wrapper/
*/build
*.cbh
*.class
.java-version
.attach*
*/aquasec

.mtj.tmp/

# Package Files #
*.war
*.ear

.deps/
ImageId*
resource_names_*.json

*.log
