/build
*/bin
.env
.settings
.project
.classpath
.gradle
.vscode
gradle

# IDEA
.idea
*.ipr
*.iws
.shelf/
.run/

.jpb/
.nb-gradle-properties
.nb-gradle
*.iml
.apib
.DS_Store
*.jks
*.log
atlassian*
userdatas/
out/
curl_config_admin_user
*.suml
startit.sh
integration-test/integcb/*.log
integration-test/integcb/docker-containers
integration-test/build/
integration-test/test-output/
integration-test/src/main/resources/testsuites/custom/
owners_log/
stacks_log/
suites_log/
redbeams-log/*.log
test-output/
gradle/wrapper/
*/build
cloudbreak-shell.log
cloud-break.cbh
*.class
.java-version
.attach*
*/aquasec

.mtj.tmp/

# Package Files #
*.war
*.ear

hs_err_pid
node_modules/
npm-debug.log
start-local.sh
cloudbreak.log
cloudbreak-log/*.log
mock-thunderhead-log/*.log
autoscale-log/
environment-log/
core/cloudbreak-log/
freeipa-log/
sdx-log/
.deps/
ImageId*
resource_names_*.json

*.log
