[Install]
WantedBy=multi-user.target

[Unit]
Description=Service-registration Service
After=network.target network.service consul.service

[Service]
Type=forking
Restart=always
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
ExecStart=/etc/init.d/service-registration start
ExecStop=/etc/init.d/service-registration stop
