/bin
.settings
.project
.classpath
.gradle
.idea
*.iml
.apib
*.iml
.DS_Store
*.jks
atlassian*
userdatas/
out/
curl_config_admin_user
*.suml
startit.sh
build/
test-output/
integcb/.deps/
integcb/cbd
integcb/certs/
integcb/docker-compose.yml
integcb/uaa.yml
test.out