version: '3'
networks:
  cbreak_default:
    external: true
services:
  thunderhead-mock:
    networks:
      cbreak_default: {}
    ports:
      - 10080:8080
    volumes:
    - ../mock-thunderhead/build/libs/mock-thunderhead.jar:/mock-thunderhead.jar
    - ./integcb/etc:/etc/auth
    command: java -jar /mock-thunderhead.jar
    image: docker-private.infra.cloudera.com/cloudera_thirdparty/openjdk/openjdk:11-jdk
    deploy:
      resources:
        limits:
          memory: 1024M
          cpus: 1.0
  test:
    networks:
      cbreak_default: {}
    ports:
      - 2020:2020
      - 9400-9900:9400-9900
      - 7654:7654
    volumes:
      - ./:/it
      - ./dumps:/it/dumps
      - /etc/localtime:/etc/localtime:ro
    command: java -XX:OnOutOfMemoryError="kill -9 %p" -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/it/dumps -jar /it/build/libs/cloudbreak-integration-test.jar com.sequenceiq.it.IntegrationTestApp --integrationtest.command=suiteurls --integrationtest.suiteFiles=${INTEGRATIONTEST_SUITEFILES} | tee cbtest.log
    environment:
      - INTEGRATIONTEST_USER_ACCESSKEY=${INTEGRATIONTEST_USER_ACCESSKEY}
      - INTEGRATIONTEST_USER_SECRETKEY=${INTEGRATIONTEST_USER_SECRETKEY}
      - INTEGRATIONTEST_UMS_ACCOUNTKEY=${INTEGRATIONTEST_UMS_ACCOUNTKEY}
      - INTEGRATIONTEST_UMS_DEPLOYMENTKEY=${INTEGRATIONTEST_UMS_DEPLOYMENTKEY}
      - INTEGRATIONTEST_CLOUDBREAK_SERVER=http://dev-gateway
      - INTEGRATIONTEST_FREEIPA_SERVER=http://dev-gateway
      - INTEGRATIONTEST_ENVIRONMENT_SERVER=http://dev-gateway
      - INTEGRATIONTEST_SDX_SERVER=http://dev-gateway
      - INTEGRATIONTEST_REDBEAMS_SERVER=http://dev-gateway
      - ALTUS_AUDIT_ENDPOINT=thunderhead-mock
      - MOCK_INFRASTRUCTURE_HOST=mock-infrastructure
      - CLOUDBREAK_URL=cloudbreak:8080
      - ENVIRONMENT_URL=environment:8088
      - FREEIPA_URL=freeipa:8080
      - SPRING_CONFIG_LOCATION=classpath:/application.yml,/it/it-application.yml
      - INTEGRATIONTEST_SUITEFILES
      - INTEGRATIONTEST_AZURERMCREDENTIAL_ACCESSKEY
      - INTEGRATIONTEST_AZURERMCREDENTIAL_SECRETKEY
      - INTEGRATIONTEST_AZURERMCREDENTIAL_SUBSCRIPTIONID
      - INTEGRATIONTEST_AZURERMCREDENTIAL_TENANTID
      - INTEGRATIONTEST_RDSCONFIG_RDSUSER
      - INTEGRATIONTEST_RDSCONFIG_RDSPASSWORD
      - INTEGRATIONTEST_RDSCONFIG_RDSCONNECTIONURL
      - INTEGRATIONTEST_LDAPCONFIG_LDAPSERVERHOST
      - INTEGRATIONTEST_LDAPCONFIG_BINDPASSWORD
      - INTEGRATIONTEST_PROXYCONFIG_PROXYHOST
      - INTEGRATIONTEST_PROXYCONFIG_PROXYUSER
      - INTEGRATIONTEST_PROXYCONFIG_PROXYPASSWORD
      - INTEGRATIONTEST_TESTSUITE_POLLINGINTERVAL
      - INTEGRATIONTEST_CLOUDPROVIDER
      - INTEGRATIONTEST_YARN_DEFAULTBLUEPRINTNAME
      - INTEGRATIONTEST_YARN_QUEUE
      - INTEGRATIONTEST_YARN_IMAGECATALOGURL
      - INTEGRATIONTEST_YARN_IMAGEID
      - INTEGRATIONTEST_YARN_REGION
      - INTEGRATIONTEST_YARN_LOCATION
      - INTEGRATIONTEST_PARALLEL
      - INTEGRATIONTEST_THREADCOUNT
      - CM_PRIVATE_REPO_USER
      - CM_PRIVATE_REPO_PASSWORD
      - INTEGRATIONTEST_DATABASE_CONNECTIONURL
      - INTEGRATIONTEST_DATABASE_USERNAME
      - INTEGRATIONTEST_DATABASE_PASSWORD
      - INTEGRATIONTEST_IMAGECATALOGNAME
      - INTEGRATIONTEST_AWS_CREDENTIAL_ACCESSKEYID
      - INTEGRATIONTEST_AWS_CREDENTIAL_SECRETKEY
      - INTEGRATIONTEST_AWS_CREDENTIAL_ROLEARN
      - INTEGRATIONTEST_AWS_CLOUDSTORAGE_S3_INSTANCEPROFILE
      - INTEGRATIONTEST_AWS_CLOUDSTORAGE_BASELOCATION
      - INTEGRATIONTEST_AWS_CLOUDSTORAGE_FILESYSTEMTYPE
      - INTEGRATIONTEST_OUTPUTDIR=/it
      - INTEGRATIONTEST_DEFAULTPRIVATEKEYFILE
      - INTEGRATIONTEST_UMS_ACCOUNTKEY
      - INTEGRATIONTEST_UMS_DEPLOYMENTKEY
      - INTEGRATIONTEST_UMS_JSONSECRET_VERSION
      - INTEGRATIONTEST_UMS_JSONSECRET_DESTINATIONPATH
      - INTEGRATIONTEST_UMS_JSONSECRET_NAME
    image: openjdk:11-jdk
    deploy:
      resources:
        limits:
          memory: 4096M
  swagger-diff:
    networks:
      cbreak_default: {}
    volumes:
      - ./apidefinitions:/json
    command: /json/check.sh
    image: docker-private.infra.cloudera.com/cloudera_thirdparty/swagger/swagger-diff:1.0.1
  swagger-validation:
    networks:
      cbreak_default: {}
    entrypoint: /bin/sh
    volumes:
      - ./apidefinitions:/json
    command: /json/validate.sh
    image: docker-private.infra.cloudera.com/cloudera_thirdparty/goswagger/swagger:0.12.0
