version: '3'
networks:
  cbreak_default:
    external: true
services:
  caas-mock:
    networks:
      cbreak_default: {}
    ports:
      - 10080:8080
    volumes:
    - ../mock-caas/build/libs/mock-caas.jar:/mock-caas.jar
    - ./integcb/etc:/etc/auth
    command: java -jar /mock-caas.jar
    image: openjdk:11-jdk
  test:
    networks:
      cbreak_default: {}
    ports:
      - 2020:2020
      - 9400-9900:9400-9900
      - 7654:7654
    volumes:
      - ./:/it
    command: java -jar /it/build/libs/cloudbreak-integration-test.jar com.sequenceiq.it.IntegrationTestApp --integrationtest.command=suiteurls --integrationtest.suiteFiles=${INTEGRATIONTEST_SUITEFILES}
    environment:
      - INTEGRATIONTEST_USER_ACCESSKEY=${INTEGRATIONTEST_USER_ACCESSKEY}
      - INTEGRATIONTEST_USER_SECRETKEY=${INTEGRATIONTEST_USER_SECRETKEY}
      - INTEGRATIONTEST_CLOUDBREAK_SERVER=http://dev-gateway
      - INTEGRATIONTEST_FREEIPA_SERVER=http://dev-gateway
      - INTEGRATIONTEST_ENVIRONMENT_SERVER=http://dev-gateway
      - INTEGRATIONTEST_SDX_SERVER=http://dev-gateway
      - INTEGRATIONTEST_REDBEAMS_SERVER=http://dev-gateway
      - CLOUDBREAK_URL=cloudbreak:8080
      - ENVIRONMENT_URL=environment:8088
      - SPRING_CONFIG_LOCATION=classpath:/application.yml,/it/it-application.yml
      - INTEGRATIONTEST_SUITEFILES
      - INTEGRATIONTEST_AWSCREDENTIAL_ROLEARN=${AWS_ROLE_ARN}
      - INTEGRATIONTEST_AWSCREDENTIAL_SECRETKEY=${AWS_SECRET_ACCESS_KEY}
      - INTEGRATIONTEST_AWSCREDENTIAL_ACCESSKEY=${AWS_ACCESS_KEY_ID}
      - AWSREGION
      - AWSAVAILABILITYZONE
      - INTEGRATIONTEST_OPENSTACKV3CREDENTIAL_TENANTNAME
      - INTEGRATIONTEST_OPENSTACKV3CREDENTIAL_USERNAME
      - INTEGRATIONTEST_OPENSTACKV3CREDENTIAL_PASSWORD
      - INTEGRATIONTEST_OPENSTACKV3CREDENTIAL_ENDPOINT
      - INTEGRATIONTEST_AZURERMCREDENTIAL_ACCESSKEY
      - INTEGRATIONTEST_AZURERMCREDENTIAL_SECRETKEY
      - INTEGRATIONTEST_AZURERMCREDENTIAL_SUBSCRIPTIONID
      - INTEGRATIONTEST_AZURERMCREDENTIAL_TENANTID
      - INTEGRATIONTEST_RDSCONFIG_RDSUSER
      - INTEGRATIONTEST_RDSCONFIG_RDSPASSWORD
      - INTEGRATIONTEST_RDSCONFIG_RDSCONNECTIONURL
      - INTEGRATIONTEST_LDAPCONFIG_LDAPSERVERHOST
      - INTEGRATIONTEST_LDAPCONFIG_BINDPASSWORD
      - INTEGRATIONTEST_PROXYCONFIG_PROXYHOST
      - INTEGRATIONTEST_PROXYCONFIG_PROXYUSER
      - INTEGRATIONTEST_PROXYCONFIG_PROXYPASSWORD
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - INTEGRATIONTEST_TESTSUITE_POLLINGINTERVAL
      - INTEGRATIONTEST_CLOUDPROVIDER
      - INTEGRATIONTEST_YARN_DEFAULTBLUEPRINTNAME
      - INTEGRATIONTEST_YARN_QUEUE
      - INTEGRATIONTEST_YARN_IMAGECATALOGURL
      - INTEGRATIONTEST_YARN_IMAGEID
      - INTEGRATIONTEST_YARN_REGION
      - INTEGRATIONTEST_YARN_LOCATION
      - CM_PRIVATE_REPO_USER
      - CM_PRIVATE_REPO_PASSWORD
      - INTEGRATIONTEST_DATABASE_CONNECTIONURL
      - INTEGRATIONTEST_DATABASE_USERNAME
      - INTEGRATIONTEST_DATABASE_PASSWORD
      - INTEGRATIONTEST_IMAGECATALOGNAME
    image: openjdk:11-jdk
  swagger-diff:
    networks:
      cbreak_default: {}
    volumes:
      - ./apidefinitions:/json
    command: bash -c "for f in /json/cb*.json ; do echo check to $${f} ; swagger-diff -i $${f} /json/cb.json ; done;"
    image: afarsang/docker-swagger-diff
  swagger-validation:
    networks:
      cbreak_default: {}
    command: validate http://cloudbreak:8080/cb/api/swagger.json
    image: quay.io/goswagger/swagger:0.12.0
