#!/bin/bash

LOGGING_TYPES="${LOGGING_TYPES:-{{ loggingTypes }}}"

if [[ -f "/var/run/cdp-logging-agent/cdp-logging-agent.pid" ]]; then
    logging_agent_process_details=$(ps aux | grep fluentd | grep -v grep | tr -s '[:blank:]' ',')
    logging_agent_process_arr=($(echo "$logging_agent_process_details"))
    declare -p logging_agent_process_arr > /dev/null
    IFS=' ' read -a logging_types_arr <<< "$LOGGING_TYPES"
    i=0
    for logging_agent_process in ${logging_agent_process_arr[@]}
    do
      pid=$(echo "$logging_agent_process" | cut -d ',' -f2)
      rss=$(echo "$logging_agent_process" | cut -d ',' -f6)
      rss_bytes=$(($rss*1024))
      fds_num=$(ls -la "/proc/$pid/fd" | wc -l)
      # processes that contains under-supervisor in their command: fluentd workers/processes (cloud storage shipper, deployment log shipper)
      if [[ "$logging_agent_process" == *"under-supervisor"* ]]; then
         logging_type="${logging_types_arr[$i]}"
         if [[ "$logging_type" != "" ]]; then
           if [[ -d "/var/log/cdp-logging-agent/${logging_type}" ]]; then
             buffer_size=$(du -b "/var/log/cdp-logging-agent/${logging_type}" | cut -f1)
             if [[ -d "/var/log/cdp-logging-agent/${logging_type}_CM_COMMAND" ]]; then
               buffer_size_cm=$(du -b "/var/log/cdp-logging-agent/${logging_type}_CM_COMMAND" | cut -f1)
               echo "cb_fluentd_${logging_type}_cm_buffer_size_bytes_total $buffer_size_cm" >> /var/lib/node_exporter/files/logging_agent.prom.$$
             fi
           else
             buffer_size=0
           fi
           echo "cb_fluentd_${logging_type}_buffer_size_bytes_total $buffer_size" >> /var/lib/node_exporter/files/logging_agent.prom.$$
           echo "cb_fluentd_${logging_type}_memory_rss_bytes_total $rss_bytes" >> /var/lib/node_exporter/files/logging_agent.prom.$$
           echo "cb_fluentd_${logging_type}_open_fd_total $fds_num" >> /var/lib/node_exporter/files/logging_agent.prom.$$
         fi
         i=$((i+1))
      else
        echo "cb_fluentd_supervisor_memory_rss_bytes_total $rss_bytes" >> /var/lib/node_exporter/files/logging_agent.prom.$$
      fi
    done
  if [[ -f /var/lib/node_exporter/files/logging_agent.prom.$$ ]]; then
    mv /var/lib/node_exporter/files/logging_agent.prom.$$ /var/lib/node_exporter/files/logging_agent.prom
  fi
fi