server:
  servlet:
    context-path: "/dl"
  shutdown: graceful

spring:
  application:
    name: DatalakeService
  lifecycle:
    timeout-per-shutdown-phase: 60

opentracing:
  jaeger:
    log-spans: false

management:
  endpoints:
    web:
      base-path: "/"
      exposure:
        include: info,health,prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    metrics:
      enabled: true
      export:
        prometheus:
          enabled: true
    prometheus:
      enabled: true
    health:
      probes:
        enabled: true
  metrics:
    distribution:
      sla:
        "[http.server.requests]": "125ms, 250ms, 500ms, 1s, 2s"
      percentiles:
        "[http.server.requests]": "0.5, 0.95"

sdx:
  db:
    aws:
      engineversion: 10.14
      ha:
        backupretentionperiod: 30
      nonha:
        backupretentionperiod: 0
    azure:
      ha:
        backupretentionperiod: 30
        georedundantbackup: true
      nonha:
        backupretentionperiod: 7
        georedundantbackup: false
    gcp:
      engineversion: 10
      ha:
        backupretentionperiod: 30
      nonha:
        backupretentionperiod: 7

  gateway:
    topology:
      name: cdp-proxy
    ssotype: SSO_PROVIDER

  paywall.url: "https://archive.cloudera.com/p/cdp-public/"

altus:
  idbmms:
    host: localhost
  ums:
    host: localhost
  audit:
    enabled: true
    endpoint: localhost:8982
  datalakedr:
    enabled: false
    endpoint: localhost:8989

datalake:
  cert.dir: /certs/
  client.id: datalake
  structuredevent:
    rest:
      enabled: false
  cloudbreak:
    url: http://localhost:9091
  environmentservice:
    url: http://localhost:8088
  redbeams:
    url: http://localhost:8087
  freeipa:
    url: http://localhost:8090
    contextPath: /freeipa
  db:
    port.5432.tcp:
      port: 5432
      addr: localhost
    env:
      user: postgres
      pass:
      db: datalakedb
      schema: public
      cert.file: database.crt
      ssl: false
  runtimes:
    default: "7.2.8"
    advertised: "7.1.0,7.2.0,7.2.1,7.2.2,7.2.6,7.2.7,7.2.8,7.2.9,7.2.10"
    supported: "7.0.2,7.1.0,7.2.0,7.2.1,7.2.2,7.2.6,7.2.7,7.2.8,7.2.9,7.2.10"

secret:
  application: sdx/shared
  engine: "com.sequenceiq.cloudbreak.service.secret.vault.VaultKvV2Engine"

vault:
  addr: localhost
  port: 8200
  ssl.enabled: false
  kv.engine.v2.path: secret
  config.enabled: true
  auth:
    type: "token"
    kubernetes:
      service.account.token.path: /var/run/secrets/kubernetes.io/serviceaccount/token
      mount.path: "dps-dev"
      login.role: "cloudbreak.default"

cb:
  authentication:
    disabled: false
  cm:
    client:
      cluster.proxy.timeout: 120000
      connect.timeout.seconds: 125
      read.timeout.seconds: 125
      write.timeout.seconds: 125

notification:
  urls: http://localhost:3000/notifications

clusterProxy:
  url: http://localhost:10180/cluster-proxy
