#!/usr/bin/env bash

set -e

function cleanup() {
  kdestroy
}

trap cleanup EXIT

function errcho(){ >&2 echo "$@"; }

echo "$PW" | kinit {{ pillar['sssd-ipa']['principal'] }}

exec 3>/var/log/dnsrecord-add-debug.log
# Redirect `set -x` output to `stdout`, which is now captured in the log file.
BASH_XTRACEFD=3
set -x

HOSTNAME=$(hostname)
FQDN=$(hostname -f)
IPADDR=$(hostname -i)
REVERSE_IP=$(hostname -i | awk -F. '{print $4"."$3"." $2"."$1}')

# add dns a-record 3 times with a 10 seconds interval (see CDPSDX-1981, CB-13379)
for attempt in {1..3}
do
  sleep 10
  echo "add dns a-record hostname for ${HOSTNAME}, attempt ${attempt}"
  IPA_STDERR=$(mktemp)
  retVal=0
  alreadyExists=0
  ipa dnsrecord-mod {{ pillar['sssd-ipa']['domain'] }}. "${HOSTNAME}" "--a-rec=${IPADDR}" --ttl {{ pillar['sssd-ipa']['dns_ttl'] }} 2>"${IPA_STDERR}" || retVal=$?
  if grep "ERROR: no modifications to be performed" ${IPA_STDERR} &>/dev/null; then
    alreadyExists=1
    echo "DNS a-record already exists for ${HOSTNAME}"
  else
    cat "${IPA_STDERR}" >&2
  fi
  if [[ "$retVal" -eq 0 || ( "$retVal" -eq 1 && "$alreadyExists" -eq 1 ) ]]; then
    rm -f "${IPA_STDERR}"
    break
  elif [[ "$attempt" -eq 3 ]]; then
    errcho "Failed to update DNS A-record for ${HOSTNAME}"
    if grep "DNS resource record not found" ${IPA_STDERR} &>/dev/null; then
      echo "Try to add missing A record"
      retVal=0
      ipa dnsrecord-add {{ pillar['sssd-ipa']['domain'] }}. "${HOSTNAME}" "--a-rec=${IPADDR}" --ttl {{ pillar['sssd-ipa']['dns_ttl'] }} 2>"${IPA_STDERR}" || retVal=$?
        if [[ "$retVal" -eq 0 ]]; then
          echo "Successfully added DNS A record"
          rm -f "${IPA_STDERR}"
        else
          errcho "Failed to add record [${retVal}]"
          cat "${IPA_STDERR}" >&2
          rm -f "${IPA_STDERR}"
          false
        fi
    else
      rm -f "${IPA_STDERR}"
      false
    fi
  fi
done

REVERSE_RECORD_CREATED=0
for zone in $(ipa dnszone-find --raw | grep "idnsname:.*\.in-addr\.arpa\." | cut -d':' -f2 | awk '{ print length, $0 }' | sort -n -r | awk '{ print $2 }' | xargs)
do
    ZONE_NET=${zone//.in-addr.arpa./}
    if echo "$REVERSE_IP" | grep -qE "\.$ZONE_NET$"; then
        REVERSE_RECORD_NAME=$(echo "$REVERSE_IP" | sed "s/\.$ZONE_NET$//g")
        # dnsrecord-add must either add the record or modify it
        if ! ipa dnsrecord-find "$zone" "--name=$REVERSE_RECORD_NAME" "--ptr-rec=${FQDN}." --ttl {{ pillar['sssd-ipa']['dns_ttl'] }}; then
          echo "Adding reverse record ${REVERSE_RECORD_NAME} to ${zone} with PTR ${FQDN}."
          ipa dnsrecord-add "$zone" "$REVERSE_RECORD_NAME" "--ptr-rec=${FQDN}." --ttl {{ pillar['sssd-ipa']['dns_ttl'] }}
        fi
        if ipa dnsrecord-find "$zone" "--name=$REVERSE_RECORD_NAME" "--ptr-rec=${FQDN}." --ttl {{ pillar['sssd-ipa']['dns_ttl'] }}; then
          REVERSE_RECORD_CREATED=1
          break
        else
          errcho "Failed to set Reverse DNS PTR-record for ${FQDN} with IP $IPADDR"
          false
        fi
    fi
done

if [[ "$REVERSE_RECORD_CREATED" -eq 0 ]]; then
  errcho "Reverse record creation failed for $HOSTNAME with IP $IPADDR"
  false
fi

set +x
set +e

# Close file descriptor 3 explicitly
exec 3>&-