#!/usr/bin/env bash

set -e

function cleanup() {
  kdestroy
}

trap cleanup EXIT

echo "$PW" | kinit {{ pillar['sssd-ipa']['principal'] }}

set -x

HOSTNAME=$(hostname)
FQDN=$(hostname -f)
IPADDR=$(hostname -i)
REVERSE_IP=$(hostname -i | awk -F. '{print $4"."$3"." $2"."$1}')

# add dns a-record 3 times with a 10 seconds interval (see CDPSDX-1981, CB-13379)
for attempt in {1..3}
do
  sleep 10
  echo "add dns a-record hostname for ${HOSTNAME}, attempt ${attempt}"
  IPA_STDERR=$(mktemp)
  retVal=0
  alreadyExists=0
  ipa dnsrecord-mod {{ pillar['sssd-ipa']['domain'] }}. "${HOSTNAME}" "--a-rec=${IPADDR}" --ttl {{ pillar['sssd-ipa']['dns_ttl'] }} 2>"${IPA_STDERR}" || retVal=$?
  cat "${IPA_STDERR}" >&2
  if grep "ERROR: no modifications to be performed" ${IPA_STDERR} &>/dev/null; then
    alreadyExists=1
    echo "DNS a-record already exists for ${HOSTNAME}"
  fi
  rm "${IPA_STDERR}"
  if [[ "$retVal" -eq 0 || ( "$retVal" -eq 1 && "$alreadyExists" -eq 1 ) ]]; then
    break
  elif [[ "$attempt" -eq 3 ]]; then
    echo "Failed to set DNS A-record for ${HOSTNAME}"
    false
  fi
done

for zone in $(ipa dnszone-find --raw | grep "idnsname:.*\.in-addr\.arpa\." | cut -d':' -f2 | awk '{ print length, $0 }' | sort -n -r | awk '{ print $2 }' | xargs)
do
    ZONE_NET=${zone//.in-addr.arpa./}
    if echo "$REVERSE_IP" | grep -qE "\.$ZONE_NET$"; then
        REVERSE_RECORD_NAME=$(echo "$REVERSE_IP" | sed "s/\.$ZONE_NET$//g")
        # dnsrecord-add must either add the record or modify it
        if ! ipa dnsrecord-find "$zone" "--name=$REVERSE_RECORD_NAME" "--ptr-rec=${FQDN}." --ttl {{ pillar['sssd-ipa']['dns_ttl'] }}; then
          ipa dnsrecord-add "$zone" "$REVERSE_RECORD_NAME" "--ptr-rec=${FQDN}." --ttl {{ pillar['sssd-ipa']['dns_ttl'] }}
        fi
        if ipa dnsrecord-find "$zone" "--name=$REVERSE_RECORD_NAME" "--ptr-rec=${FQDN}." --ttl {{ pillar['sssd-ipa']['dns_ttl'] }}; then
          break
        else
          echo "Failed to set Reverse DNS PTR-record for ${FQDN}"
          false
        fi
    fi
done

set +x
set +e
