#!/bin/bash

function cleanup() {
  kdestroy
}

trap cleanup EXIT

echo "server {{ pillar['sssd-ad']['domain'] }}
realm {{ pillar['sssd-ad']['domainuppercase'] }}
update delete $(hostname -f) A
update add $(hostname -f) 3600 A $(hostname -I | awk '{print $1}')
send" > /tmp/dns

echo '{{ pillar['sssd-ad']['password'] }}' | kinit {{ pillar['sssd-ad']['username'] }}

nsupdate -v -g /tmp/dns
