#!/bin/bash

set -e

# auth to generate the keytab
echo "$password" | kinit {{ ipa.principal }}

set -x

SA_NAME=krbbind-{{ ipa.cluster_name }}
ROLE_NAME=hadoopadminrole-{{ ipa.cluster_name }}

# Generate per-cluster krbbind Service Account
ipa user-add "$SA_NAME" --first=service --last=account
ipa role-add "$ROLE_NAME"
ipa role-add-privilege "$ROLE_NAME" --privileges="Service Administrators"
ipa role-add-member "$ROLE_NAME" --users="$SA_NAME"

# generate keytab for user krbbind
ipa-getkeytab -s {{ ipa.server }} -p "$SA_NAME" -k /etc/cloudera-scm-server/cmf.keytab
chown cloudera-scm:cloudera-scm /etc/cloudera-scm-server/cmf.keytab
chmod 600 /etc/cloudera-scm-server/cmf.keytab

# tell CM which principal to use to connect to IPA
echo "${SA_NAME}@{{ ipa.realm|upper }}" > /etc/cloudera-scm-server/cmf.principal
chown cloudera-scm:cloudera-scm /etc/cloudera-scm-server/cmf.principal

# temporary HACK until CM side of the script is fixed
sed -i "s/ipa env host/ipa env server/g" /opt/cloudera/cm/bin/gen_credentials_ipa.sh
sed -i '/MAX_RENEW_LIFE=.*/a MAX_RENEW_LIFE=0' /opt/cloudera/cm/bin/gen_credentials_ipa.sh

# Destroy the admin krbtgt
kdestroy
