#!/bin/bash

function cleanup() {
  kdestroy
}

trap cleanup EXIT

reverse_ip=$(hostname -i | awk -F. '{OFS="."; print $4,$3,$2,$1}')
FQDN=$(hostname -f)

echo "server {{ pillar['sssd-ad']['domain'] }}
realm {{ pillar['sssd-ad']['domainuppercase'] }}
update delete $reverse_ip.in-addr.arpa PTR
send" >> /tmp/reversedns

echo "server {{ pillar['sssd-ad']['domain'] }}
realm {{ pillar['sssd-ad']['domainuppercase'] }}
update delete $FQDN A
send" >> /tmp/dns

echo '{{ pillar['sssd-ad']['password'] }}' | kinit {{ pillar['sssd-ad']['username'] }}

nsupdate -v -g /tmp/reversedns
nsupdate -v -g /tmp/dns
