[sssd]
{%- if "ID_BROKER_CLOUD_IDENTITY_ROLE" in grains.get('roles', []) %}
services = nss, pam, sudo
{% else %}
services = nss, pam, sudo, ssh
{% endif %}
domains = {{ pillar['sssd-ipa']['realm'] }}

[nss]
homedir_substring = /home
memcache_timeout = 30

[domain/{{ pillar['sssd-ipa']['realm'] }}]
cache_credentials = True
krb5_store_password_if_offline = True
krb5_realm = {{ pillar['sssd-ipa']['realm'] }}
ipa_domain = {{ pillar['sssd-ipa']['domain'] }}
krb5_ccname_template = FILE:/tmp/krb5cc_%U
id_provider = ipa
auth_provider = ipa
access_provider = ipa
chpass_provider = ipa
ipa_server = _srv_, {{ pillar['sssd-ipa']['server'] }}
ldap_tls_cacert = /etc/ipa/ca.crt
ipa_hostname = {{ salt['grains.get']('fqdn') }}
enumerate = {{ pillar['sssd-ipa']['enumerate'] }}
entry_cache_timeout = 30
