{%- from 'sssd/ad-settings.sls' import ad with context %}
{%- set secretEncryptionEnabled = True if salt['pillar.get']('cluster:secretEncryptionEnabled', False) == True else False %}
{%- set krb5_ccname_template_path = salt['pillar.get']('kerberos:cCacheSecretLocation') if secretEncryptionEnabled == True else '/tmp' %}
{%- set kerberosConfigPath = salt['pillar.get']('kerberos:kerberosSecretLocation') if secretEncryptionEnabled == True else '/etc' %}

[nss]
filter_users = root
filter_groups = root
override_shell = /bin/bash
override_homedir = /home/%u
reconnection_retries = 3
entry_cache_nowait_percentage = 75
debug_level = 5

[sssd]
domains = {{ pillar['sssd-ad']['domainuppercase'] }}
config_file_version = 2
services = nss, pam

[domain/{{ pillar['sssd-ad']['domainuppercase'] }}]
ldap_sasl_authid = {{ ad.server_hostname }}$
ad_domain = {{ pillar['sssd-ad']['domain'] }}
krb5_realm = {{ pillar['sssd-ad']['domainuppercase'] }}
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
krb5_ccname_template = FILE:{{ krb5_ccname_template_path }}/krb5cc_%U
krb5_keytab = {{ kerberosConfigPath }}/krb5.keytab
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
fallback_homedir = /home/%u
access_provider = permit
dyndns_update = true
dyndns_refresh_interval = 43200
dyndns_update_ptr = true
dyndns_ttl = 3600