<form class="form-horizontal" name="$ctrl.azureCredentialForm" ng-submit="submitDetails(user)" ng-hide="$ctrl.interactiveLoginResult != null">
    <div class="panel-body">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="azurecredentialtype">{{$ctrl.msg.credential_select}}</label>
            <div class="col-sm-3">
                <select class="form-control" id="azurecredentialtype" name="azurecredentialtype" ng-model="$ctrl.credentialAzure.parameters.selector"
                        ng-options="option.id as option.name for option in $ctrl.selectors">
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': $ctrl.azureCredentialForm.cname.$dirty && $ctrl.azureCredentialForm.cname.$invalid }">
            <label class="col-sm-3 control-label" for="cname">{{$ctrl.msg.name_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" ng-pattern="/^[a-z][a-z0-9]*$/" name="cname" id="cname" ng-model="$ctrl.credentialAzure.name" ng-minlength="5"
                       ng-maxlength="100" required placeholder="{{$ctrl.msg.name_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.cname.$dirty && $ctrl.azureCredentialForm.cname.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_name_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <div class="form-group" ng-class="{ 'has-error': $ctrl.azureCredentialForm.cdescription.$dirty && $ctrl.azureCredentialForm.cdescription.$invalid }">
            <label class="col-sm-3 control-label" for="cdescription">{{$ctrl.msg.description_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="$ctrl.credentialAzure.description" id="cdescription" name="cdescription" ng-maxlength="1000"
                       placeholder="{{$ctrl.msg.credential_form_description_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.cdescription.$dirty && $ctrl.azureCredentialForm.cdescription.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_description_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.csubscriptionId.$dirty && $ctrl.azureCredentialForm.csubscriptionId.$invalid }">
            <label class="col-sm-3 control-label" for="csubscriptionId">{{$ctrl.msg.credential_azure_form_subscription_id_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="$ctrl.credentialAzure.parameters.subscriptionId" name="csubscriptionId"
                       ng-model="$ctrl.credentialAzure.parameters.subscriptionId" required placeholder="{{$ctrl.msg.credential_azure_form_subscription_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.csubscriptionId.$dirty && $ctrl.azureCredentialForm.csubscriptionId.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_subscription_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.caccesKey.$dirty && $ctrl.azureCredentialForm.caccesKey.$invalid }">
            <label class="col-sm-3 control-label" for="caccesKey">{{$ctrl.msg.credential_azure_form_access_key_id_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="$ctrl.credentialAzure.parameters.accesKey" name="caccesKey"
                       ng-model="$ctrl.credentialAzure.parameters.accessKey" required placeholder="{{$ctrl.msg.credential_azure_form_access_key_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.caccesKey.$dirty && $ctrl.azureCredentialForm.caccesKey.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_accesskey_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.csecretKey.$dirty && $ctrl.azureCredentialForm.csecretKey.$invalid }">
            <label class="col-sm-3 control-label" for="csecretKey">{{$ctrl.msg.credential_azure_form_secret_key_id_label}}</label>

            <div class="col-sm-9">
                <input type="password" class="form-control" id="$ctrl.credentialAzure.parameters.secretKey" name="csecretKey"
                       ng-model="$ctrl.credentialAzure.parameters.secretKey" required placeholder="{{$ctrl.msg.credential_azure_form_secret_key_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.csecretKey.$dirty && $ctrl.azureCredentialForm.csecretKey.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_secretkey_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.ctenantId.$dirty && $ctrl.azureCredentialForm.ctenantId.$invalid }">
            <label class="col-sm-3 control-label" for="ctenantId">{{$ctrl.msg.credential_azure_form_tenant_id_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="$ctrl.credentialAzure.parameters.tenantId" name="ctenantId" ng-model="$ctrl.credentialAzure.parameters.tenantId"
                       required placeholder="{{$ctrl.msg.credential_azure_form_tenant_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.ctenantId.$dirty && $ctrl.azureCredentialForm.ctenantId.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_tenantid_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="azureroletype">{{$ctrl.msg.credential_azure_role_type_label}}
                <i class="fa fa-question-circle" popover-placement="top" popover={{$ctrl.msg.credential_azure_role_type_label_popover}} popover-trigger="mouseenter"></i>
            </label>
            <div class="col-sm-9" ng-switch on="$ctrl.credentialAzure.parameters.roleType">
                <select class="form-control" id="azureroletype" name="azureroletype" ng-model="$ctrl.credentialAzure.parameters.roleType" ng-options="option.key as option.value for option in $ctrl.azureRole" ng-change="$ctrl.refreshRole()" >
                </select>

                <div class="help-block" ng-switch-when="CONTRIBUTOR"><i class="fa fa-info-circle"></i> {{$ctrl.msg.credential_azure_role_contributor_info}}
                </div>
                <div class="help-block" ng-switch-when="REUSE_EXISTING"><i class="fa fa-info-circle"></i> {{$ctrl.msg.credential_azure_role_reuse_info}}
                </div>
                <div class="help-block" ng-switch-when="CREATE_CUSTOM"><i class="fa fa-info-circle"></i> {{$ctrl.msg.credential_azure_role_create_info}}
                </div>

            </div >
        </div>

        <!-- Enter role name -->
        <div class="form-group" ng-class="{ 'has-error': $ctrl.azureCredentialForm.roleName.$dirty && $ctrl.azureCredentialForm.roleName.$invalid }">
            <label class="col-sm-3 control-label" for="cname" ng-if="$ctrl.credentialAzure.parameters.roleType=='REUSE_EXISTING'">{{$ctrl.msg.credential_azure_role_reuse_label}}</label>
            <label class="col-sm-3 control-label" for="cname" ng-if="$ctrl.credentialAzure.parameters.roleType=='CREATE_CUSTOM'">{{$ctrl.msg.credential_azure_role_create_label}}</label>

            <div class="col-sm-9" ng-if="$ctrl.credentialAzure.parameters.roleType!='CONTRIBUTOR'">
                <input type="text" class="form-control" ng-pattern="/^[a-zA-Z][a-z0-9A-Z ]*$/" ng-change="$ctrl.credentialAzure.parameters.roleName= $ctrl.capitalize($ctrl.credentialAzure.parameters.roleName)" name="roleName" id="roleName" ng-model="$ctrl.credentialAzure.parameters.roleName" ng-minlength="5"
                       ng-maxlength="100" required placeholder="{{$ctrl.msg.name_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.roleName.$dirty && $ctrl.azureCredentialForm.roleName.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_rolename_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="topologySelect">{{$ctrl.msg.credential_select_topology}}</label>
            <div class="col-sm-8">
                <select class="form-control" id="topologySelect" name="topologySelect" ng-model="$ctrl.credentialAzure.topologyId"
                        ng-options="topology.id as topology.name for topology in $root.topologies | filter: filterByCloudPlatform | orderBy:'name'">
                    <option value="">-- {{$ctrl.msg.credential_select_topology.toLowerCase()}} --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="azureCred_publicInAccount">{{$ctrl.msg.public_in_account_label}}</label>
            <div class="col-sm-9">
                <input type="checkbox" name="azureCred_publicInAccount" id="azureCred_publicInAccount" ng-model="$ctrl.credentialAzure.public">
            </div>
            <!-- .col-sm-9 -->
        </div>

        <a id="createCredentialButton" ng-disabled="$ctrl.azureCredentialForm.$invalid" class="btn btn-sm btn-sm btn-default pull-right" ng-click="$ctrl.next()" role="button">
            <i class="fa fa-angle-double-right"></i>
            Next</a>
    </div>
</form>