<div id="interactive-login" ng-if="!$ctrl.credentialInCreation && !$ctrl.errorMessage && $ctrl.interactiveLoginResult != null" class="panel-body form-horizontal">
    <div class="form-group" ng-show="!defaultCredentialError">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="text-center">{{$ctrl.msg.credential_interactive_copy}}</div>
        </div>
        <div class="col-sm-4 col-sm-offset-4 azure-cred-padding-top">
            <div class="col-sm-5">
                <a target="_blank" class="btn btn-success btn-block"
                   ng-href="{{$ctrl.interactiveLoginResult.verification_url}}">Azure login</a>
            </div>
            <div class="high col-sm-7 text-center" onclick="document.getElementById('interactive-code').select(); document.execCommand('copy');">
                <input id="interactive-code" class="col-sm-10" readonly="readonly" ng-value="$ctrl.interactiveLoginResult.user_code"/>
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row row col-sm-offset-2 col-sm-8" ng-show="defaultCredentialError">
        <span class="text-center text-danger"><b>{{defaultCredentialError}}</b></span>
    </div>
</div>

<div class="alert alert-info" role="alert" ng-if="$ctrl.credentialInCreation">
    <b>{{$ctrl.msg.credential_creation_wait_prefix}}</b> {{$ctrl.msg.credential_creation_wait_suffix}}
    <div class="progress" style="height: 25px;margin-bottom: 0px;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{$ctrl.inprogressPercent}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{$ctrl.inprogressPercent}}%;padding-top: 4px;">
            {{$ctrl.inprogressMessage}}
        </div>
    </div>
</div>

<div class="alert alert-danger" role="alert" ng-if="$ctrl.errorMessage">
    <b>{{$ctrl.errorMessage}}</b>
</div>

<div class="alert alert-success" role="alert" ng-if="$ctrl.credentialAzure.id">
    <b>Credential '{{$ctrl.credentialAzure.name}}' successfully created</b>
</div>