<form class="form-horizontal" name="$ctrl.azureCredentialForm" ng-submit="submitDetails(user)" ng-hide="$ctrl.interactiveLoginResult != null">
    <div class="panel-body">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="azurecredentialtype">{{$ctrl.msg.credential_select}}</label>
            <div class="col-sm-3">
                <select class="form-control" id="azurecredentialtype" name="azurecredentialtype" ng-model="$ctrl.credentialAzure.parameters.selector"
                        ng-options="option.id as option.name for option in $ctrl.selectors">
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': $ctrl.azureCredentialForm.cname.$dirty && $ctrl.azureCredentialForm.cname.$invalid }">
            <label class="col-sm-3 control-label" for="cname">{{$ctrl.msg.name_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" ng-pattern="/^[a-z][a-z0-9]*$/" name="cname" id="cname" ng-model="$ctrl.credentialAzure.name" ng-minlength="5"
                       ng-maxlength="100" required placeholder="{{$ctrl.msg.name_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.cname.$dirty && $ctrl.azureCredentialForm.cname.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_name_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <div class="form-group" ng-class="{ 'has-error': $ctrl.azureCredentialForm.cdescription.$dirty && $ctrl.azureCredentialForm.cdescription.$invalid }">
            <label class="col-sm-3 control-label" for="cdescription">{{$ctrl.msg.description_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="$ctrl.credentialAzure.description" id="cdescription" name="cdescription" ng-maxlength="1000"
                       placeholder="{{$ctrl.msg.credential_form_description_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.cdescription.$dirty && $ctrl.azureCredentialForm.cdescription.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_description_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.csubscriptionId.$dirty && $ctrl.azureCredentialForm.csubscriptionId.$invalid }">
            <label class="col-sm-3 control-label" for="csubscriptionId">{{$ctrl.msg.credential_azure_form_subscription_id_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="$ctrl.credentialAzure.parameters.subscriptionId" name="csubscriptionId"
                       ng-model="$ctrl.credentialAzure.parameters.subscriptionId" required placeholder="{{$ctrl.msg.credential_azure_form_subscription_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.csubscriptionId.$dirty && $ctrl.azureCredentialForm.csubscriptionId.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_subscription_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.caccesKey.$dirty && $ctrl.azureCredentialForm.caccesKey.$invalid }">
            <label class="col-sm-3 control-label" for="caccesKey">{{$ctrl.msg.credential_azure_rm_form_access_key_id_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="$ctrl.credentialAzure.parameters.accesKey" name="caccesKey"
                       ng-model="$ctrl.credentialAzure.parameters.accessKey" required placeholder="{{$ctrl.msg.credential_azure_rm_form_access_key_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.caccesKey.$dirty && $ctrl.azureCredentialForm.caccesKey.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_accesskey_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.csecretKey.$dirty && $ctrl.azureCredentialForm.csecretKey.$invalid }">
            <label class="col-sm-3 control-label" for="csecretKey">{{$ctrl.msg.credential_azure_rm_form_secret_key_id_label}}</label>

            <div class="col-sm-9">
                <input type="password" class="form-control" id="$ctrl.credentialAzure.parameters.secretKey" name="csecretKey"
                       ng-model="$ctrl.credentialAzure.parameters.secretKey" required placeholder="{{$ctrl.msg.credential_azure_rm_form_secret_key_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.csecretKey.$dirty && $ctrl.azureCredentialForm.csecretKey.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_secretkey_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <!-- .form-group -->
        <div class="form-group" ng-if="$ctrl.credentialAzure.parameters.selector=='app-based'"
             ng-class="{ 'has-error': $ctrl.azureCredentialForm.ctenantId.$dirty && $ctrl.azureCredentialForm.ctenantId.$invalid }">
            <label class="col-sm-3 control-label" for="ctenantId">{{$ctrl.msg.credential_azure_rm_form_tenant_id_label}}</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" id="$ctrl.credentialAzure.parameters.tenantId" name="ctenantId" ng-model="$ctrl.credentialAzure.parameters.tenantId"
                       required placeholder="{{$ctrl.msg.credential_azure_rm_form_tenant_id_placeholder}}">
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.ctenantId.$dirty && $ctrl.azureCredentialForm.ctenantId.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_tenantid_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <div class="form-group" ng-class="{ 'has-error': $ctrl.azureCredentialForm.azure_sshPublicKey.$dirty && $ctrl.azureCredentialForm.azure_sshPublicKey.$invalid }">
            <label class="col-sm-3 control-label" for="azure_sshPublicKey">{{$ctrl.msg.credential_azure_form_ssh_cert_label}}</label>

            <div class="col-sm-9">
                <textarea rows="4" type="text" ng-attr-placeholder="{{$ctrl.msg.credential_azure_form_ssh_cert_placeholder}}" class="form-control"
                          ng-model="$ctrl.credentialAzure.publicKey" name="azure_sshPublicKey" id="azure_sshPublicKey" required></textarea>
                <div class="help-block" ng-show="$ctrl.azureCredentialForm.azure_sshPublicKey.$dirty && $ctrl.azureCredentialForm.azure_sshPublicKey.$invalid">
                    <i class="fa fa-warning"></i> {{$ctrl.msg.credential_ssh_key_invalid}}
                </div>
            </div>
            <!-- .col-sm-9 -->

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="topologySelect">{{$ctrl.msg.credential_select_topology}}</label>
            <div class="col-sm-8">
                <select class="form-control" id="topologySelect" name="topologySelect" ng-model="$ctrl.credentialAzure.topologyId"
                        ng-options="topology.id as topology.name for topology in $root.topologies | filter: filterByCloudPlatform | orderBy:'name'">
                    <option value="">-- {{$ctrl.msg.credential_select_topology.toLowerCase()}} --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="azureCred_publicInAccount">{{$ctrl.msg.public_in_account_label}}</label>
            <div class="col-sm-9">
                <input type="checkbox" name="azureCred_publicInAccount" id="azureCred_publicInAccount" ng-model="$ctrl.credentialAzure.public">
            </div>
            <!-- .col-sm-9 -->
        </div>

        <a id="createCredentialButton" ng-disabled="$ctrl.azureCredentialForm.$invalid" class="btn btn-sm btn-sm btn-default pull-right" ng-click="$ctrl.next()" role="button">
            <i class="fa fa-angle-double-right"></i>
            Next</a>
    </div>
</form>