<div class="panel-body" id="azure-credential">
    <div class="btn-group btn-group-justified" role="group" style="margin: 0 auto;display: table;" aria-label="...">
        <a type="button" ng-class="{'btn-success': $ctrl.activePanel == 1}" class="btn btn-default wizard-button" disabled="disabled" role="presentation"><span class="wizard-number">1.</span>Information</a>
        <a type="button" ng-class="{'btn-success': $ctrl.activePanel == 2}" class="btn btn-default wizard-button" disabled="disabled" role="presentation"><span class="wizard-number">2.</span>Configure credential</a>
        <a type="button" ng-class="{'btn-success': $ctrl.activePanel == 3}" class="btn btn-default wizard-button" disabled="disabled" role="presentation"><span class="wizard-number">3.</span>Finish</a>
    </div>

    <div class="azure-cred-padding-top">
        <azure-credential-first on-next-clicked="$ctrl.showSecond()" ng-show="$ctrl.activePanel == 1"></azure-credential-first>
        <azure-credential-second azure-credential-form="$ctrl.azureCredentialForm" credential-azure="$ctrl.credentialAzure" on-credential-filled="$ctrl.showThird()" ng-show="$ctrl.activePanel == 2"></azure-credential-second>
        <azure-credential-third credential-in-creation="$ctrl.credentialInCreation" credential-azure="$ctrl.credentialAzure" interactive-login-result="$ctrl.interactiveLoginResult"
                                error-message="$ctrl.errorMessage" credential-success="$ctrl.handleAzureCredentialSuccess()" ng-show="$ctrl.activePanel == 3"></azure-credential-third>
    </div>

    <button ng-if="$ctrl.activePanel != 1 && !$ctrl.credentialAzure.id" type="button" class="btn btn-sm btn-sm btn-default" ng-click="$ctrl.cancel()">
        Cancel
    </button>
    <button ng-if="$ctrl.activePanel == 3 && $ctrl.credentialAzure.id" type="button" class="btn btn-sm btn-sm btn-default" ng-click="$ctrl.cancel()">
        Done
    </button>
</div>