version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - checkout
      - restore_cache:
          key: gradle-cache
      - run:
          name: build
          command: ./gradlew -Penv=jenkins -b build.gradle clean build --info --stacktrace --parallel -x test -x checkstyleMain -x checkstyleTest -x findbugsMain -x findbugsTest
      - run:
          name: check
          command: git status | grep "working tree clean"
      - save_cache:
          key: gradle-cache
          paths:
            - "~/.gradle"
      - persist_to_workspace:
          root: .
          paths:
            - core/build/libs/cloudbreak.jar
            - integration-test/build/libs/cloudbreak-integration-test.jar

  unit-test:
    docker:
      - image: circleci/openjdk:8-jdk
    environment:
      _JAVA_OPTIONS: "-Xmx2048m"
    steps:
      - checkout
      - run:
          name: test
          command: ./gradlew -Penv=jenkins -b build.gradle test --info --stacktrace --parallel
      - run:
          name: stylecheck
          command: ./gradlew checkstyleMain checkstyleTest findbugsMain findbugsTest --stacktrace --max-workers 1
      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit

  integration-test:
    machine: true
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Install make
          command: sudo apt-get install -y make
      - run:
          name: Install uuidgen
          command: sudo apt-get install -y uuid-runtime
      - run:
          name: integration-test
          command: cd integration-test && make without-build && make revert-db
      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            cp integration-test/test-output/junitreports/* ~/junit/
          when: always
      - run:
          name: cleanup
          command: |
            sudo rm -rf integration-test/integcb/.deps
            sudo rm -rf integration-test/integcb/.schema
            sudo rm -rf integration-test/src
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit
      - store_artifacts:
          path: integration-test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - unit-test:
          requires:
            - build
      - integration-test:
          requires:
            - build
