{%- from 'metering/settings.sls' import metering with context %}
[Unit]
Description=Metering heartbeat application
StartLimitIntervalSec=0
After=td-agent.service

[Service]
Type=simple
ExecStart=/opt/metering-heartbeat --configFile /etc/metering/generate_heartbeats.ini
PIDFile=/var/run/heartbeat_producer.pid
{% if metering.enabled %}
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
{% endif %}
