server:
  contextPath: "/as"

periscope:
  useProxyForClusterConnection: false
  db.env:
    user: postgres
    pass:
    db: periscopedb
    schema: public
    cert.file: database.crt
    ssl: false

cb:
  server:
    contextPath: "/cb"
rest:
  debug: false
cert:
  validation: true
  ignorePreValidation: false

spring:
  cloud:
    consul:
      host: consul.service.consul
  freemarker:
    template-loader-path: classpath:/
    prefer-file-system-access: false
  datasource:
      maxActive: 30