server.servlet.context-path: "/as"

management:
  endpoints:
    web:
      base-path: "/"
      exposure:
        include: info,health,prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    metrics:
      enabled: true
      export:
        prometheus:
          enabled: true
    prometheus:
      enabled: true
    health:
      show-details: always

periscope:
  cert:
    dir: /certs/
  db.env:
    user: postgres
    pass:
    db: periscopedb
    schema: public
    cert.file: database.crt
    ssl: false
  stack.collection.period: 60000

cb:
  server:
    contextPath: "/cb"

rest:
  debug: false
cert:
  validation: true
  ignorePreValidation: false

spring:
  cloud:
    consul:
      host: consul.service.consul
  freemarker:
    template-loader-path: classpath:/
    prefer-file-system-access: false
  datasource:
      maxActive: 30