<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <logger name="org.springframework.boot.autoconfigure.security.AuthenticationManagerConfiguration" level="ERROR"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sequenceiq.cloudbreak.logger.MaskingPatternLayout">
                <pattern>%date{ISO8601} [%thread] %method:%line %-5level %logger{5} - [type:%X{resourceType:-springLog}] [crn:%X{resourceCrn:-}] [name:%X{resourceName:-}] [tenant:%X{tenant:-}] [userCrn:%X{userCrn:-}] [requestid:%X{requestId:-}]  [traceId:%X{traceId:-}] [spanId:%X{spanId:-}] %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="AUTOSCALE_FILE_BASED" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>autoscale-log/autoscale.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${INTEGRATION_TEST_LOG_LEVEL:-OFF}</level>
        </filter>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sequenceiq.cloudbreak.logger.MaskingPatternLayout">
                <pattern>%date{ISO8601} [%thread] %method:%line %-5level %logger{5} - [type:%X{resourceType:-springLog}] [crn:%X{resourceCrn:-}] [name:%X{resourceName:-}] [tenant:%X{tenant:-}] [userCrn:%X{userCrn:-}] [requestid:%X{requestId:-}]  [traceId:%X{traceId:-}] [spanId:%X{spanId:-}] %msg%n</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>autoscale-log/autoscale-%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1024MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <root level="${PERISCOPE_LOG_LEVEL:-INFO}">
        <appender-ref ref="AUTOSCALE_FILE_BASED"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.sequenceiq" level="${PERISCOPE_LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="AUTOSCALE_FILE_BASED"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.type" level="${PERISCOPE_SQL_LOG_LEVEL:-INFO}">
        <appender-ref ref="AUTOSCALE_FILE_BASED"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate" level="${PERISCOPE_SQL_LOG_LEVEL:-INFO}">
        <appender-ref ref="AUTOSCALE_FILE_BASED"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.SQL" level="${PERISCOPE_SQL_LOG_LEVEL:-INFO}">
        <appender-ref ref="AUTOSCALE_FILE_BASED"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="sql-log" level="${PERISCOPE_SQL_LOG_LEVEL:-INFO}">
        <appender-ref ref="AUTOSCALE_FILE_BASED"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
        <level value="${PERISCOPE_SQL_LOG_LEVEL:-INFO}"/>
    </logger>

    <logger name="com.sequenceiq.cloudbreak.logger.concurrent.MDCCleanerScheduledExecutor">
        <level value="${PERISCOPE_LOG_LEVEL:-WARN}"/>
    </logger>

    <logger name="org.glassfish.jersey.logging.LoggingFeature" level="ERROR">
        <appender-ref ref="AUTOSCALE_FILE_BASED"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>