auth:
  license:
    file: license.txt
  config:
    dir: /etc/auth
  databus:
    credential:
      tp:
        file: altus_credentials
      fluent:
        file: databus_credentials
  mock:
    baseimage.enable: true
    event-generation:
      expiration-minutes: 10
    freeipa.ha.enable: true
    cloudstoragevalidation.enable: true
    runtime.upgrade.enable: true