<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sequenceiq.cloudbreak.logger.MaskingPatternLayout">
                <loggerNameFilter>com.sequenceiq</loggerNameFilter>
                <pattern>%date{ISO8601} [%thread] %method:%line %-5level %logger{5} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="MOCK_TH_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>AUDIT_EVENT</marker>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <file>mock-thunderhead-log/mock-thunderhead.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sequenceiq.cloudbreak.logger.MaskingPatternLayout">
                <loggerNameFilter>com.sequenceiq</loggerNameFilter>
                <pattern>%date{ISO8601} [%thread] %method:%line %-5level %logger{5} - %msg%n</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>mock-thunderhead-log/mock-thunderhead-%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1024MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="AUDIT_ENTRIES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>AUDIT_EVENT</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
        <file>mock-thunderhead-log/mock-audit-entries.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sequenceiq.cloudbreak.logger.MaskingPatternLayout">
                <loggerNameFilter>com.sequenceiq</loggerNameFilter>
                <pattern>%msg%n</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>mock-thunderhead-log/mock-audit-entries-%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1024MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="MOCK_TH_FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.sequenceiq" level="DEBUG" additivity="false">
        <appender-ref ref="MOCK_TH_FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.sequenceiq.caas.service.AuditStoreService" level="DEBUG">
        <appender-ref ref="MOCK_TH_FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.sequenceiq.caas.service.AuditStoreService" level="TRACE" additivity="false">
        <appender-ref ref="AUDIT_ENTRIES"/>
    </logger>

</configuration>