<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [suite:%X{suite:-nosuite}] - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="date" datePattern="yyyyMMdd"/>

    <appender name="SUITE_BASED" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>suite</key>
            <defaultValue>spring</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${suite}" class="ch.qos.logback.core.FileAppender">
                <file>suites_log/${suite}-${date}.log</file>
                <append>true</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <encoder>
                        <pattern>%date{ISO8601} [%thread] %-5level [suite:%X{suite:-nosuite}] - %msg%n</pattern>
                    </encoder>
                </layout>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SUITE_BASED" />
    </root>
</configuration>
