<configuration>
    <logger name="org.springframework.boot.context.properties.migrator" level="WARN"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{testlabel:-nolabel}] - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="date" datePattern="yyyyMMdd"/>

    <appender name="SUITE_BASED" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>testlabel</key>
            <defaultValue>spring</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${testlabel}" class="ch.qos.logback.core.FileAppender">
                <file>${LOG_PATH}/suites_log/${testlabel}-${date}.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%date{ISO8601} [%thread] %-5level %logger{36} [%X{testlabel:-nolabel}] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SUITE_BASED" />
    </root>

</configuration>
