[Unit]
Description=Consul Service
Wants=network-online.target
After=syslog.target network.service network.target network-online.target

[Service]
Type=forking
Restart=on-failure
TimeoutSec=15s
GuessMainPID=no
#ExecStart=/usr/sbin/consul agent -config-dir=/etc/cloudbreak/consul/ -pid-file=/var/run/consul.pid
ExecStart=/etc/init.d/consul start
PIDFile=/var/run/consul.pid

[Install]
WantedBy=multi-user.target