[ req ]
default_bits       = 2048
default_md         = sha256
prompt             = no
encrypt_key        = no
organizationName   = cloudera
distinguished_name = cloudera_ca
req_extensions     = v3_ca
x509_extensions    = v3_ca

[ cloudera_ca ]
organizationName   = cloudera

[ v3_ca ]
basicConstraints        = critical,CA:TRUE
subjectKeyIdentifier    = hash
keyUsage                = critical,digitalSignature,keyEncipherment,keyAgreement,keyCertSign