{%- set cm_password = salt['pillar.get']('gateway')['username'] %}
{%- set cm_password = salt['pillar.get']('gateway')['password'] %}

#!/bin/bash
#sudo su -
#source /opt/salt_3000.2/bin/activate
#salt $(hostname -f) pillar.get gateway
#salt $(hostname -f) pillar.get gateway:password
#salt $(hostname -f) pillar.get gateway:username
#salt $(hostname -f) pillar.get gateway:mastersecret
set -ex
echo "hi steve"
CM_USERNAME={{ cm_username }}
CM_PASSWORD={{ cm_password }}
echo $CM_USERNAME

# change 'Cloudera Manager Hostname Override'
curl -k -i -u $CM_USERNAME:$CM_PASSWORD \
    -X PUT "http://localhost:7183/api/v42/cm/config" \
    -H "accept: application/json" -H "Content-Type: application/json" \
    -d "{\"items\": [{\"name\": \"cm_host_name\", \"value\": \"localhost\"}]}"

# change 'Verify Agent Hostname Against Certificate'
curl -k -i -u $CM_USERNAME:$CM_PASSWORD \
    -X PUT "https://localhost:7183/api/v42/cm/config" \
    -H "accept: application/json" -H "Content-Type: application/json" \
    -d "{\"items\": [{\"name\": \"need_agent_hostname_validation\", \"value\": \"false\"}]}"

echo done

