{%- set internal_loadbalancer_san = salt['pillar.get']('cloudera-manager:communication:internal_loadbalancer_san') %}
#!/bin/bash

set -ex

date '+%Y-%m-%d %H:%M:%S'

CERTMANAGER_DIR="/etc/cloudera-scm-server/certs"
declare -A AGENT_FQDN_TOKENDIR_MAP=( {%- for ip, args in pillar.get('hosts', {}).items() %}["{{ args['fqdn'] }}"]="{{ args['fqdn'] }}-{{ args['instance_id'] }}" {% endfor %})
TOKEN_DIR="/srv/salt/agent-tls-tokens"
LOADBALANCER_SAN={{ internal_loadbalancer_san }}

source /bin/activate_salt_env

for fqdn in "${!AGENT_FQDN_TOKENDIR_MAP[@]}"
do
  tokendir=$TOKEN_DIR/${AGENT_FQDN_TOKENDIR_MAP[${fqdn}]}
  token_file="${tokendir}/agent_token_generated"
  regenerate=true
  if [[ -e "$token_file" ]]; then
    # Check if the file is less than 1 hour old
    if find "$token_file" -mmin -60 | grep -q .; then
      regenerate=false
    fi
  fi
  if [[ "$regenerate" == true ]]; then
    HOSTNAME=" --hostname ${fqdn} "
    if [ -n "$LOADBALANCER_SAN" ]; then
      PATTERN=" --hostname-pattern (${fqdn}|${LOADBALANCER_SAN}) "
      HOSTNAME=${PATTERN//./\\.}
    fi
    rm -rf ${tokendir}
    mkdir -p ${tokendir}
    /opt/cloudera/cm-agent/bin/certmanager --location $CERTMANAGER_DIR gen_cert_request_token --output ${tokendir}/cmagent.token $HOSTNAME --lifetime 3600
    echo $(date +%Y-%m-%d:%H:%M:%S) >> "$token_file"
  else
    echo "CM agent token generation for ${fqdn} will be skipped as it was already generated in ${tokendir} and is not older than 1 hour."
  fi
done

for fqdn in "${!AGENT_FQDN_TOKENDIR_MAP[@]}"
do
  tokendir=$TOKEN_DIR/${AGENT_FQDN_TOKENDIR_MAP[${fqdn}]}
  if [[ ! -e ${tokendir}/agent_token_copied_to_client ]]; then
    set +e
    # This can be fairly slow, for large clusters
    COPY_RESULT=$(salt ${fqdn} cp.get_file salt://agent-tls-tokens/${AGENT_FQDN_TOKENDIR_MAP[${fqdn}]}/cmagent.token /etc/cloudera-scm-agent/cmagent.token makedirs=True)
    SALT_CP_RET=$?
    set -e
    if [[ "$COPY_RESULT" != *"False"* ]] && [[ "$SALT_CP_RET" -eq 0 ]] ; then
      echo $(date +%Y-%m-%d:%H:%M:%S) >> ${tokendir}/agent_token_copied_to_client
    else
      echo "Could not copy the token to agent: $fqdn Salt copy returned with: $SALT_CP_RET Copy result is: $COPY_RESULT"
    fi
  else
    echo "CM agent token copy to ${fqdn} will be skipped as it was already copied to the agent instance."
  fi
done
