{%- set manager_server_hostname = salt['grains.get']('host') %}
{%- set manager_server_fqdn = salt['grains.get']('fqdn') %}
{%- set internal_loadbalancer_san = salt['pillar.get']('cloudera-manager:communication:internal_loadbalancer_san') %}
{%- set gov_cloud = salt['pillar.get']('cluster:gov_cloud', False) %}
#!/bin/bash

set -ex

function cleanup() {
  kdestroy
}

trap cleanup EXIT

echo "$(date +%Y-%m-%d:%H:%M:%S) Starting Auto TLS setup"

HOSTNAME={{ manager_server_hostname }}
FQDN={{ manager_server_fqdn }}
LOADBALANCER_SAN={{ internal_loadbalancer_san }}
{% if "ad_member" in grains.get('roles', []) %}
{% from 'sssd/ad-settings.sls' import ad with context %}
CM_KEYTAB_FILE=/etc/cloudera-scm-server/cmf.keytab
CM_PRINCIPAL={{ ad.server_hostname }}$
{% else %}
CM_KEYTAB_FILE={{ cm_keytab.path }}
CM_PRINCIPAL={{ cm_keytab.principal }}
{% endif %}
CERTMANAGER_DIR="/etc/cloudera-scm-server/certs"
CERTMANAGER_ARGS=
CACERTS_DIR=/opt/cacerts
OUT_FILE=`mktemp -t signed_ca_chain.XXXXXX.pem`

OVERRIDES="--override ca_dn=CN=${HOSTNAME} "
KEYTOOL_EXTRA_ARGS=""
PROVIDER=""
FIPS_ENABLED_ARGS=""
TRUSTED_CERT=""

{% if gov_cloud == True %}
{% if java.java_version == "8" %}
PROVIDER+="-providerclass {{ java.security_providerclass }} -providerarg ${JAVA_HOME}/jre/lib/security/nss.cfg "
OVERRIDES+="--override keystore_type=BCFKS "
{% else %}
export JDK_JAVA_OPTIONS+="--add-opens java.base/sun.security.internal.spec=ALL-UNNAMED --add-opens java.base/sun.security.provider=ALL-UNNAMED --add-exports java.base/sun.security.provider=ALL-UNNAMED"
PROVIDER+="-provider {{ java.security_providerclass }} "
PROVIDER+="-providerpath {{ java.jre_ext_path }}/ccj.jar "
PROVIDER+="-J--add-exports=java.base/sun.security.provider=ALL-UNNAMED -J--add-opens=java.base/sun.security.provider=ALL-UNNAMED"
KEYTOOL_EXTRA_ARGS+="-storetype BCFKS -J--add-exports=java.base/sun.security.provider=ALL-UNNAMED -J--add-opens=java.base/sun.security.provider=ALL-UNNAMED -providerclass {{ java.security_providerclass }} -providerpath {{ java.jre_ext_path }}/ccj.jar"
FIPS_ENABLED_ARGS="1"
{% endif %}
{% endif %}

rm -rf $CERTMANAGER_DIR

source /bin/activate_salt_env

kinit -kt $CM_KEYTAB_FILE $CM_PRINCIPAL

mkdir -p ${CACERTS_DIR}

rm -f ${CACERTS_DIR}/cacerts.p12
rm -f ${CACERTS_DIR}/cacerts.pem
rm -f ${CACERTS_DIR}/cacerts.bcfks

{% if gov_cloud == True and java.java_version == "17" %}
echo "Do not generate cacerts.pem and TRUSTED_CERT is empty"
{% else %}
keytool -importkeystore \
  -srckeystore ${JAVA_HOME}/jre/lib/security/cacerts \
  -srcstorepass changeit {% if gov_cloud == True %} -providerclass sun.security.pkcs11.SunPKCS11 -providerarg ${JAVA_HOME}/jre/lib/security/nss.cfg {% endif %} \
  -destkeystore ${CACERTS_DIR}/cacerts.p12 \
  -deststorepass changeit \
  -deststoretype PKCS12
openssl pkcs12 -in ${CACERTS_DIR}/cacerts.p12 -passin pass:changeit -out ${CACERTS_DIR}/cacerts.pem
TRUSTED_CERT+=" --trusted-ca-certs ${CACERTS_DIR}/cacerts.pem"
{% endif %}

{% if gov_cloud == True %}
# ideally we would generate the pem from bcfks on gov cloud, but it is not possible until SafeLogic openssl is installed on 17
{% if java.java_version == "8" %}
keytool -importkeystore \
  -srckeystore ${JAVA_HOME}/jre/lib/security/cacerts \
  -srcstorepass changeit \
  -providerclass sun.security.pkcs11.SunPKCS11 \
  -providerarg ${JAVA_HOME}/jre/lib/security/nss.cfg \
  -destkeystore ${CACERTS_DIR}/cacerts.bcfks \
  -deststorepass changeit \
  -deststoretype BCFKS
rm -f ${CACERTS_DIR}/cacerts.p12
{% else %}
# Cloudera Manager workaroundfor rhel9 FIPS 7.3.2
sed -i 's|default="JKS"|default="BCFKS"|g' /opt/cloudera/cm-agent/lib/python3.11/site-packages/cmf/tools/cert.py
{% endif %}
{% endif %}

ALTNAME=" --altname DNS:${FQDN} "
if [ -n "$LOADBALANCER_SAN" ]; then
  ALTNAME+="--altname ${LOADBALANCER_SAN} "
fi
{% if "ad_member" in grains.get('roles', []) %}

KEYTOOL_EXTRA_ARGS="${KEYTOOL_EXTRA_ARGS}" /opt/cloudera/cm-agent/bin/certmanager \
  --location $CERTMANAGER_DIR \
  setup \
  --skip-invalid-ca-certs \
  --configure-services $CERTMANAGER_ARGS \
  ${OVERRIDES} ${ALTNAME} ${TRUSTED_CERT}

mv $CERTMANAGER_DIR/cm_init.txt $CERTMANAGER_DIR/auto-tls.init.txt

{% else %}

KEYTOOL_EXTRA_ARGS="${KEYTOOL_EXTRA_ARGS}" FIPS_ENABLED=${FIPS_ENABLED_ARGS} /opt/cloudera/cm-agent/bin/certmanager \
  --location $CERTMANAGER_DIR \
  setup --skip-invalid-ca-certs \
  --configure-services $CERTMANAGER_ARGS \
  ${OVERRIDES} \
  --stop-at-csr ${ALTNAME} ${TRUSTED_CERT}

/opt/cloudera/cm/bin/generate_intermediate_ca_ipa.sh $CM_PRINCIPAL ${CERTMANAGER_DIR}/CMCA/private/ca_csr.pem $OUT_FILE

KEYTOOL_EXTRA_ARGS="${KEYTOOL_EXTRA_ARGS}" FIPS_ENABLED=${FIPS_ENABLED_ARGS} /opt/cloudera/cm-agent/bin/certmanager \
  --location $CERTMANAGER_DIR \
  setup --skip-invalid-ca-certs \
  --configure-services $CERTMANAGER_ARGS \
  ${OVERRIDES} \
  --signed-ca-cert=$OUT_FILE \
  --skip-cm-init ${ALTNAME} ${TRUSTED_CERT} > $CERTMANAGER_DIR/auto-tls.init.txt

{% endif %}

chmod 600 $CERTMANAGER_DIR/auto-tls.init.txt

rm -rf $OUT_FILE

echo "# Auto-tls related configurations" >> /etc/cloudera-scm-server/cm.settings
cat $CERTMANAGER_DIR/auto-tls.init.txt >> /etc/cloudera-scm-server/cm.settings

echo "$(date +%Y-%m-%d:%H:%M:%S) Auto-TLS initialization completed successfully."

echo $(date +%Y-%m-%d:%H:%M:%S) >> $CERTMANAGER_DIR/autotls_setup_success
