#!/usr/bin/env bash

set -e

: ${JRE_EXT_PATH?' JRE_EXT_PATH environment variable is required'}
: ${PAYWALL_AUTH?' PAYWALL_AUTH environment variable is required'}
: ${CCJ_PATH?' CCJ_PATH environment variable is required'}
: ${BCTLS_PATH?' BCTLS_PATH environment variable is required'}
{%- if java.java_version == "17" %}
: ${BCUTIL_PATH?' BCUTIL_PATH environment variable is required'}
{%- endif %}

log() {
  MESSAGE=$1
  echo "$(date '+%d/%m/%Y %H:%M:%S') - $MESSAGE "
}

install() {
  FILENAME=$1
  URL=$2

  FILEPATH="${JRE_EXT_PATH}/${FILENAME}"
  DOWNLOAD_FILENAME=${URL##*/}

  if [ -f $FILEPATH  ]; then
    log "SafeLogic binary $FILEPATH already installed"
    return
  else
    log "Downloading file $DOWNLOAD_FILENAME from $URL"
    curl -L -O -R --fail -u $PAYWALL_AUTH $URL

    PERMISSION=644
    log "Setting permissions of file $DOWNLOAD_FILENAME to $PERMISSION"
    chmod $PERMISSION $DOWNLOAD_FILENAME

    log "Moving $DOWNLOAD_FILENAME to $FILEPATH"
    mv $DOWNLOAD_FILENAME $FILEPATH

    log "Successfully installed SafeLogic binary $FILENAME"
  fi
}

log "Installing SafeLogic binaries to $JRE_EXT_PATH"

install "ccj.jar" "$CCJ_PATH"
install "bctls.jar" "$BCTLS_PATH"
{%- if java.java_version == "17" %}
install "bcutil.jar" "$BCUTIL_PATH"
install "sasl.jar" "$SALSPROVIDER_PATH"
{%- endif %}

log "SafeLogic binaries successfully installed"
