[Install]
WantedBy=multi-user.target

[Unit]
Description=Ambari Server Service
After=network.target network.service consul.service

[Service]
Type=forking
PIDFile=/var/run/ambari-server/ambari-server.pid
Restart=on-failure
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
Environment='AMBARI_JVM_ARGS=-XX:MaxPermSize=512m'
ExecStartPre=/opt/ambari-server/ambari-server-init.sh
ExecStart=/usr/sbin/ambari-server start
ExecStop=/usr/sbin/ambari-server stop
