#
{{ provider_type }}.provider.1=com.safelogic.cryptocomply.jcajce.provider.CryptoComplyFipsProvider
{{ provider_type }}.provider.2=org.bouncycastle.jsse.provider.BouncyCastleJsseProvider fips:CCJ
{{ provider_type }}.provider.3=sun.security.provider.Sun
{{ provider_type }}.provider.4=sun.security.rsa.SunRsaSign
{{ provider_type }}.provider.5=sun.security.ec.SunEC
{{ provider_type }}.provider.6=com.sun.crypto.provider.SunJCE
{{ provider_type }}.provider.7=sun.security.jgss.SunProvider
{{ provider_type }}.provider.8=com.sun.security.sasl.Provider
{{ provider_type }}.provider.9=org.jcp.xml.dsig.internal.dom.XMLDSigRI

#
