#
{{ provider_type }}.provider.1=com.safelogic.cryptocomply.jcajce.provider.CryptoComplyFipsProvider
{{ provider_type }}.provider.2=org.bouncycastle.jsse.provider.BouncyCastleJsseProvider fips:CCJ
{{ provider_type }}.provider.3=Sun
{{ provider_type }}.provider.4=SunRsaSign
{{ provider_type }}.provider.5=SunEC
{{ provider_type }}.provider.6=SunJSSE
{{ provider_type }}.provider.7=SunJCE
{{ provider_type }}.provider.8=SunJGSS
{{ provider_type }}.provider.9=SunSASL
{{ provider_type }}.provider.10=XMLDSig
{{ provider_type }}.provider.11=SunPCSC
{{ provider_type }}.provider.12=JdkLDAP
{{ provider_type }}.provider.13=JdkSASL
{{ provider_type }}.provider.14=SunPKCS11
jdk.tls.disabledAlgorithms=SSLv3, RC4, MD5withRSA, DH keySize < 768, EC keySize < 224, 3DES_EDE_CBC, TLSv1, TLSv1.1, DHE

#
