{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- from 'filecollector/settings.sls' import filecollector with context %}
{% if telemetry.cdpTelemetryVersion > 6 %}
{% if telemetry.platform == "AWS" or telemetry.platform == "AZURE" or telemetry.platform == "GCP" %}
{% set network_params = "--skip-scan-neighbours --cloud-provider " + telemetry.platform %}
{% else %}{% set network_params = "--skip-scan-neighbours" %}{% endif %}
{% else %}{% set network_params = "" %}{% endif %}
commands:
    - command: ps aux
      output: /tmp/doctor_ps_aux.txt
      report: false
    - command: netstat -tlpn
      output: /tmp/doctor_netstat.txt
    - command: free -h
      output: /tmp/doctor_free.txt
    - command: ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head
      output: /tmp/doctor_top_proc.txt
    - command: df -h
      output: /tmp/doctor_disk_free.txt
    - command: du -a -h --max-depth=1 /var/log | sort -r -h | head -20
      output: /tmp/doctor_disk_logs.txt
    - command: lsblk
      output: /tmp/doctor_lsblk.txt
    - command: nslookup $(hostname -i)
      output: /tmp/doctor_r_nslookup_output.txt
    - command: nslookup $(hostname -f)
      output: /tmp/doctor_f_nslookup_output.txt
    - command: cdp-doctor network status {{network_params}}
      output: /tmp/doctor_network.txt
    - command: cdp-doctor service status
      output: /tmp/doctor_services.txt
    - command: cdp-doctor system metrics
      output: /tmp/doctor_system_metrics.txt
{% if "gateway" in grains.get('roles', []) %}
    - command: source activate_salt_env && salt-key -L
      output: /tmp/doctor_salt_keys.txt
    - command: cdp-doctor salt ping
      output: /tmp/doctor_salt_ping.txt
{%- endif %}
{%- if filecollector.clusterType == "FREEIPA" %}
    - command: /usr/local/bin/freeipa_backup -pl
      output: /tmp/doctor_backup_permissions_check.txt
  {%- if salt['file.file_exists']('/usr/local/bin/cipa') %}
    {%- if salt['file.file_exists']('/root/.config/checkipaconsistency') and not salt['file.contains']('/root/.config/checkipaconsistency', 'ipa.example.com') %}
    - command: /usr/local/bin/cipa
    {%- else %}
    - command: /usr/local/bin/cipa -d $(hostname -d) -W $(tail -n +2 /srv/pillar/freeipa/init.sls | jq -r '.freeipa.password')
    {%-endif %}
      output: /tmp/doctor_freeipa_consistency_check.txt
  {%- endif %}
{%- else %}
    {%- if salt['pkg.version_cmp'](telemetry.cdpTelemetryPackageVersion,'0.4.29-1') >= 0 %}
    - command: cdp-doctor ipa status
      output: /tmp/doctor_ipa_status.txt
    {%- endif %}
    - command: cdp-doctor recipe results
      output: /tmp/doctor_recipes.txt
    - command: cdp-doctor scm list-commands
      output: /tmp/doctor_scm_agent_commands.txt
{%- endif %}
report:
    location: /tmp/cdp_report.html
    title: CDP commands report
