{%- from 'filecollector/settings.sls' import filecollector with context %}
commands:
    - command: ps aux
      output: /tmp/doctor_ps_aux.txt
    - command: netstat -tlpn
      output: /tmp/doctor_netstat.txt
    - command: nslookup $(hostname -i)
      output: /tmp/doctor_r_nslookup_output.txt
    - command: nslookup $(hostname -f)
      output: /tmp/doctor_f_nslookup_output.txt
    - command: cdp-doctor network status
      output: /tmp/doctor_network.txt
    - command: cdp-doctor service status
      output: /tmp/doctor_services.txt
{% if filecollector.clusterType != "FREEIPA" %}
    - command: cdp-doctor recipe results
      output: /tmp/doctor_recipes.txt
    - command: cdp-doctor scm list-commands
      output: /tmp/doctor_scm_agent_commands.txt
{% endif %}
