#!/bin/bash
{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- if telemetry.proxyUrl %}
export https_proxy={{ telemetry.proxyUrl }}
  {%- if telemetry.noProxyHosts %}
export no_proxy={{ telemetry.noProxyHosts }}
  {%- endif %}
{%- endif %}