doctype
html
  head
    title= 'Welcome to SequenceIQ!'
  body
    h1 Hello #{user}!
    br
    p Welcome to SequenceIQ. To activate your account please click on the following link: <a href="#{confirm}">here</a>
    p
        p Thank you,
        br
        br
        p The SequenceIQ Team