doctype
html
  head
    title= 'Cloudbreak Invitation'
  body
    h1 Hello,
    br
    p You've been invited by #{user} to join their Cloudbreak account.
    p Click the following <a href="#{invite}">link</a> to easily manage clusters on your favourite cloud provider
    p Thank you,
        br
        br
        p The SequenceIQ Team