doctype
html
  head
    title= 'Password reset!'
  body
    h1  Hello #{user}
    br
    p To reset your password please click on the following link <a href="#{confirm}">here</a>
    p Thank you,
    br
    p The SequenceIQ Team