server.servlet.context-path: "/cb"

management:
  endpoints:
    web:
      base-path: "/"
      exposure:
        include: info,health,prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    metrics:
      enabled: true
      export:
        prometheus:
          enabled: true
    prometheus:
      enabled: true


spring:
  freemarker:
    template-loader-path: file:/etc/cloudbreak,classpath:/
    prefer-file-system-access: false
  datasource:
    maxActive: 30

rest:
  debug: false

cert:
  validation: true
  ignorePreValidation: false

secret:
  application: cb
  engine: "com.sequenceiq.cloudbreak.service.secret.vault.VaultKvV2Engine"

vault:
  addr: vault.service.consul
  port: 8200
  ssl.enabled: false
  kv.engine.path: secret
  auth:
    type: "token"
    kubernetes:
      service.account.token.path: /var/run/secrets/kubernetes.io/serviceaccount/token
      mount.path: "dps-dev"
      login.role: "cloudbreak.default"

cb:
  uaa.startup.timeout.sec: 300
  enabledplatforms: AZURE,AWS,GCP,OPENSTACK
  platform.default.rootVolumeSize:
    AWS: 50
    AZURE: 30
    GCP: 50
  enabled.linux.types: redhat6,redhat7,centos6,centos7,amazonlinux
  publicip:
  etc.config.dir: /etc/cloudbreak
  threadpool:
    core.size: 40
    capacity.size: 4000
  intermediate.threadpool:
    core.size: 40
    capacity.size: 4000
  container.threadpool:
    core.size: 40
    capacity.size: 4000

  host.discovery.custom.hostname.enabled: false

  cert:
    dir: /certs/

  smtp.sender:
    host:
    port: 25
    username:
    password:
    from: no-reply@sequenceiq.com

  db.env:
    user: postgres
    pass:
    db: cbdb
    schema: public
    cert.file: database.crt
    ssl: false

  aws:
    spotinstances.enabled: true
    hostkey.verify: false
    external.id: provision-ambari
    role.session.name: hadoop-provisioning
    cf.template.new.path: templates/aws-cf-stack.ftl
    default.inbound.security.group:
    vpc:

  azure:
    host.name.prefix.length: 255

  os:
    enable.autoimport: true
    import:
      root.url.pattern: http://public-repo-1.hortonworks.com/HDP/cloudbreak/%s.img
      from.format: qcow2
      disk.format: qcow2
      container.format: bare



  yarn:
    domain: default.com
    defaultQueue: "default"
    defaultLifeTime: -1

  blueprint:
     defaults: >
                EDW-ETL: Apache Hive, Apache Spark 2=hdp26-etl-edw-spark2;
                EDW-Analytics: Apache Hive 2 LLAP, Apache Zeppelin=hdp26-edw-analytics;
                Data Science: Apache Spark 2, Apache Zeppelin=hdp26-data-science-spark2;
                Flow Management: Apache NiFi, Apache NiFi Registry=hdf32-flow-management;
                Messaging Management: Apache Kafka=hdf32-messaging-kafka;
                Messaging Management: Apache Kafka, Schema Registry=hdf32-messaging-kafka-registry;
                Data Lake: Apache Ranger, Apache Atlas, Apache Hive Metastore=hdp26-shared-services;
                Data Lake: Apache Ranger, Apache Hive Metastore HA=hdp26-shared-services-ha
     internal: >
                HDP 3.0 - Data Science: Apache Spark 2, Apache Zeppelin=hdp30-data-science-spark2;
                HDP 3.0 - EDW-Analytics: Apache Hive 2 LLAP, Apache Zeppelin=hdp30-edw-analytics;
                HDP 3.0 - Data Lake: Apache Ranger, Apache Hive Metastore=hdp30-shared-services
  clustertemplate.defaults:
  template.defaults: minviable-gcp,minviable-azure-managed-disks,minviable-aws
  custom.user.data: |
    touch /tmp/custom-user-data
    date >> /tmp/custom-user-data

  mail:
    smtp:
      auth: true
      type: smtp
      starttls.enable: true
  success.cluster.installer.mail.template.path: templates/cluster-installer-mail-success.ftl
  failed.cluster.installer.mail.template.path: templates/cluster-installer-mail-fail.ftl

  docker:
    container:
      yarn.ambari.server: hortonworks/yarn-cloudbreak-ambari-server:2.5.0-v1
      yarn.ambari.agent: hortonworks/yarn-cloudbreak-ambari-agent:2.5.0-v1
      yarn.ambari.db: hortonworks/yarn-cloudbreak-postgres:9.4.1

  arm:
    template.path: templates/arm-v2.ftl
    parameter.path: templates/parameters.ftl

  openstack:
    heat.template.path: templates/openstack-heat.ftl
    api.debug: false
    hostkey.verify: false

  max:
    azure.resource.name.length: 120
    gcp.resource.name.length: 63
    aws.resource.name.length: 50
    openstack.resource.name.length: 120
    yarn.resource.name.length: 63

    salt.new.service.retry: 90
    salt.recipe.execution.retry: 90

  address.resolving.timeout: 60000

  eventbus.threadpool.core.size: 100
  cloud.api.executorservice.pool.size: 40

  platform.default:
    variants: OPENSTACK:HEAT
    regions: AWS:eu-west-1,AZURE:North Europe,GCP:europe-west1,YARN:default,CUMULUS_YARN:default,MOCK:USA

  gcp:
    hostkey.verify: false
    disk.encryption.url: https://cloud-certs.storage.googleapis.com/google-cloud-csek-ingress.pem

  nginx:
    port: 9443

  hive.database:
    user: hive
    db: hive
    port: 5432

  ranger.database:
    user: ranger
    db: ranger
    port: 5432

  ambari:
    entries:
      2.6:
        version: 2.6.2.2
        repo:
          redhat6:
            baseurl: http://public-repo-1.hortonworks.com/ambari/centos6/2.x/updates/2.6.2.2
            gpgkey: http://public-repo-1.hortonworks.com/ambari/centos6/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
          redhat7:
            baseurl: http://public-repo-1.hortonworks.com/ambari/centos7/2.x/updates/2.6.2.2
            gpgkey: http://public-repo-1.hortonworks.com/ambari/centos7/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
          debian9:
            baseurl: http://public-repo-1.hortonworks.com/ambari/debian9/2.x/updates/2.6.2.2
          ubuntu16:
            baseurl: http://public-repo-1.hortonworks.com/ambari/ubuntu16/2.x/updates/2.6.2.2
          sles12:
            baseurl: http://public-repo-1.hortonworks.com/ambari/sles12/2.x/updates/2.6.2.2
            gpgkey: http://public-repo-1.hortonworks.com/ambari/sles12/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
      2.7:
        version: 2.7.1.0
        repo:
          redhat7:
            baseurl: http://public-repo-1.hortonworks.com/ambari/centos7/2.x/updates/2.7.1.0
            gpgkey: http://public-repo-1.hortonworks.com/ambari/centos7/2.x/updates/2.7.1.0/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
          debian9:
            baseurl: http://public-repo-1.hortonworks.com/ambari/debian9/2.x/updates/2.7.1.0
          ubuntu16:
            baseurl: http://public-repo-1.hortonworks.com/ambari/ubuntu16/2.x/updates/2.7.1.0
          sles12:
            baseurl: http://public-repo-1.hortonworks.com/ambari/sles12/2.x/updates/2.7.1.0
            gpgkey: http://public-repo-1.hortonworks.com/ambari/sles12/2.x/updates/2.7.1.0/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
          amazonlinux2:
            baseurl: http://public-repo-1.hortonworks.com/ambari/amazonlinux2/2.x/updates/2.7.1.0
            gpgkey: http://public-repo-1.hortonworks.com/ambari/amazonlinux2/2.x/updates/2.7.1.0/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
    database:
      port: 5432
      user: ambari
      db: ambari

  hdp:
    entries:
      2.5:
        version: 2.5.5.0
        minAmbari: 2.6
        repo:
          stack:
            repoid: HDP-2.5
            redhat6: http://public-repo-1.hortonworks.com/HDP/centos6/2.x/updates/2.5.5.0
            redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.5.5.0
            debian9: http://public-repo-1.hortonworks.com/HDP/debian9/2.x/updates/2.5.5.0
            ubuntu16: http://public-repo-1.hortonworks.com/HDP/ubuntu16/2.x/updates/2.5.5.0
            repository-version: 2.5.3.0-37
            vdf-redhat6: http://public-repo-1.hortonworks.com/HDP/centos6/2.x/updates/2.5.3.0/HDP-2.5.3.0-37.xml
            vdf-redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.5.3.0/HDP-2.5.3.0-37.xml
            vdf-debian9: http://public-repo-1.hortonworks.com/HDP/debian9/2.x/updates/2.5.3.0/HDP-2.5.3.0-37.xml
            vdf-ubuntu16: http://public-repo-1.hortonworks.com/HDP/ubuntu16/2.x/updates/2.5.3.0/HDP-2.5.3.0-37.xml
          util:
            repoid: HDP-UTILS-1.1.0.21
            redhat6: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos6
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos7
            debian9: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/debian9
            ubuntu16: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/ubuntu16
      2.6:
        version: 2.6.5.0
        minAmbari: 2.6
        repo:
          stack:
            repoid: HDP-2.6
            redhat6: http://public-repo-1.hortonworks.com/HDP/centos6/2.x/updates/2.6.5.0
            redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.6.5.0
            debian9: http://public-repo-1.hortonworks.com/HDP/debian9/2.x/updates/2.6.5.0
            ubuntu16: http://public-repo-1.hortonworks.com/HDP/ubuntu16/2.x/updates/2.6.5.0
            sles12: http://public-repo-1.hortonworks.com/HDP/sles12/2.x/updates/2.6.5.0
            repository-version: 2.6.5.0-292
            vdf-redhat6: http://public-repo-1.hortonworks.com/HDP/centos6/2.x/updates/2.6.5.0/HDP-2.6.5.0-292.xml
            vdf-redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.6.5.0/HDP-2.6.5.0-292.xml
            vdf-debian9: http://public-repo-1.hortonworks.com/HDP/debian9/2.x/updates/2.6.5.0/HDP-2.6.5.0-292.xml
            vdf-ubuntu16: http://public-repo-1.hortonworks.com/HDP/ubuntu16/2.x/updates/2.6.5.0/HDP-2.6.5.0-292.xml
            vdf-sles12: http://public-repo-1.hortonworks.com/HDP/sles12/2.x/updates/2.6.5.0/HDP-2.6.5.0-292.xml
          util:
            repoid: HDP-UTILS-1.1.0.22
            redhat6: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/centos6
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/centos7
            debian9: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/debian9
            ubuntu16: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/ubuntu16
            sles12: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/sles12
      3.0:
        version: 3.0.1.0
        minAmbari: 2.7
        repo:
          stack:
            repoid: HDP-3.0
            redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/3.x/updates/3.0.1.0
            debian9: http://public-repo-1.hortonworks.com/HDP/debian9/3.x/updates/3.0.1.0
            ubuntu16: http://public-repo-1.hortonworks.com/HDP/ubuntu16/3.x/updates/3.0.1.0
            sles12: http://public-repo-1.hortonworks.com/HDP/sles12/3.x/updates/3.0.1.0
            amazonlinux2: http://public-repo-1.hortonworks.com/HDP/amazonlinux2/3.x/updates/3.0.1.0
            repository-version: 3.0.1.0-187
            vdf-redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/3.x/updates/3.0.1.0/HDP-3.0.1.0-187.xml
            vdf-debian9: http://public-repo-1.hortonworks.com/HDP/debian9/3.x/updates/3.0.1.0/HDP-3.0.1.0-187.xml
            vdf-ubuntu16: http://public-repo-1.hortonworks.com/HDP/ubuntu16/3.x/updates/3.0.1.0/HDP-3.0.1.0-187.xml
            vdf-sles12: http://public-repo-1.hortonworks.com/HDP/sles12/3.x/updates/3.0.1.0/HDP-3.0.1.0-187.xml
            vdf-amazonlinux2: http://public-repo-1.hortonworks.com/HDP/amazonlinux2/3.x/updates/3.0.1.0/HDP-3.0.1.0-187.xml
          util:
            repoid: HDP-UTILS-1.1.0.22
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/centos7
            debian9: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/debian9
            ubuntu16: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/ubuntu16
            sles12: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/sles12
            amazonlinux2: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/amazonlinux2
  hdf:
    entries:
      3.1:
        version: 3.1.2.0-7
        min-ambari: 2.6
        repo:
          stack:
            repoid: HDF-3.1
            redhat6: http://public-repo-1.hortonworks.com/HDF/centos6/3.x/updates/3.1.2.0
            redhat7: http://public-repo-1.hortonworks.com/HDF/centos7/3.x/updates/3.1.2.0
            debian9: http://public-repo-1.hortonworks.com/HDF/debian9/3.x/updates/3.1.2.0
            ubuntu16: http://public-repo-1.hortonworks.com/HDF/ubuntu16/3.x/updates/3.1.2.0
            sles12: http://public-repo-1.hortonworks.com/HDF/sles12/3.x/updates/3.1.2.0
            repository-version: 3.1.2.0-7
            vdf-redhat6: http://public-repo-1.hortonworks.com/HDF/centos6/3.x/updates/3.1.2.0/HDF-3.1.2.0-7.xml
            vdf-redhat7: http://public-repo-1.hortonworks.com/HDF/centos7/3.x/updates/3.1.2.0/HDF-3.1.2.0-7.xml
            vdf-debian9: http://public-repo-1.hortonworks.com/HDF/debian9/3.x/updates/3.1.2.0/HDF-3.1.2.0-7.xml
            vdf-ubuntu16: http://public-repo-1.hortonworks.com/HDF/ubuntu16/3.x/updates/3.1.2.0/HDF-3.1.2.0-7.xml
            vdf-sles12: http://public-repo-1.hortonworks.com/HDF/sles12/3.x/updates/3.1.2.0/HDF-3.1.2.0-7.xml
          util:
            repoid: HDP-UTILS-1.1.0.22
            redhat6: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/centos6
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/centos7
            debian9: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/debian9
            ubuntu16: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/ubuntu16
            sles12: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/sles12
          mpacks:
            redhat6:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/centos6/3.x/updates/3.1.2.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.1.2.0-7.tar.gz
                stackDefault: true
            redhat7:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/centos7/3.x/updates/3.1.2.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.1.2.0-7.tar.gz
                stackDefault: true
            debian9:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/debian9/3.x/updates/3.1.2.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.1.2.0-7.tar.gz
                stackDefault: true
            ubuntu16:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/ubuntu16/3.x/updates/3.1.2.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.1.2.0-7.tar.gz
                stackDefault: true
            sles12:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/sles12/3.x/updates/3.1.2.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.1.2.0-7.tar.gz
                stackDefault: true
      3.2:
        version: 3.2.0.0-520
        min-ambari: 2.7
        repo:
          stack:
            repoid: HDF-3.2
            redhat7: http://public-repo-1.hortonworks.com/HDF/centos7/3.x/updates/3.2.0.0
            debian9: http://public-repo-1.hortonworks.com/HDF/debian9/3.x/updates/3.2.0.0
            ubuntu16: http://public-repo-1.hortonworks.com/HDF/ubuntu16/3.x/updates/3.2.0.0
            sles12: http://public-repo-1.hortonworks.com/HDF/sles12/3.x/updates/3.2.0.0
            amazonlinux2: http://public-repo-1.hortonworks.com/HDF/amazonlinux2/3.x/updates/3.2.0.0
            repository-version: 3.2.0.0-520
            vdf-redhat7: http://public-repo-1.hortonworks.com/HDF/centos7/3.x/updates/3.2.0.0/HDF-3.2.0.0-520.xml
            vdf-debian9: http://public-repo-1.hortonworks.com/HDF/debian9/3.x/updates/3.2.0.0/HDF-3.2.0.0-520.xml
            vdf-ubuntu16: http://public-repo-1.hortonworks.com/HDF/ubuntu16/3.x/updates/3.2.0.0/HDF-3.2.0.0-520.xml
            vdf-sles12: http://public-repo-1.hortonworks.com/HDF/sles12/3.x/updates/3.2.0.0/HDF-3.2.0.0-520.xml
            vdf-amazonlinux2: http://public-repo-1.hortonworks.com/HDF/amazonlinux2/3.x/updates/3.2.0.0/HDF-3.2.0.0-520.xml
          util:
            repoid: HDP-UTILS-1.1.0.22
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/centos7
            debian9: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/debian9
            ubuntu16: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/ubuntu16
            sles12: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/sles12
            amazonlinux2: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.22/repos/amazonlinux2
          mpacks:
            redhat7:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/centos7/3.x/updates/3.2.0.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.2.0.0-520.tar.gz
                stackDefault: true
            debian9:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/debian9/3.x/updates/3.2.0.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.2.0.0-520.tar.gz
                stackDefault: true
            ubuntu16:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/ubuntu16/3.x/updates/3.2.0.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.2.0.0-520.tar.gz
                stackDefault: true
            sles12:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/sles12/3.x/updates/3.2.0.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.2.0.0-520.tar.gz
                stackDefault: true
            amazonlinux2:
              - mpackUrl: http://public-repo-1.hortonworks.com/HDF/amazonlinux2/3.x/updates/3.2.0.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.2.0.0-520.tar.gz
                stackDefault: true
  smartsense.configure: false
  smartsense.enabled: true
  smartsense.id.pattern: A-9990%s-C-%s

  structuredevent:
    rest:
      enabled: true
      contentlogging: true

  image.catalog:
    url: https://cloudbreak-imagecatalog.s3.amazonaws.com/v2-dev-cb-image-catalog.json
    cache.ttl: 15

  instance:
    packages:
      - name: salt
        prewarmed: false
        grain: saltversion
      - name: salt-bootstrap
        prewarmed: false
        command: "salt-bootstrap version"
      - name: stack
        pkgName: hdp-select,hdf-select
        prewarmed: true
      - name: ambari
        pkgName: ambari-agent
        prewarmed: true

# configuration for BlueprintPortConfigCollector.java
blueprintServicePorts:
  - service: HIVE_SERVER
    configName: hive-site
    portKey: hive.server2.thrift.http.port
  - service: HIVE_SERVER_INTERACTIVE
    configName: hive-interactive-site
    portKey: hive.server2.thrift.http.port
  - service: SPARK_HISTORY_SERVER
    configName: spark-defaults
    portKey: spark.history.ui.port
  - service: ZEPPELIN
    configName: zeppelin-config
    portKey: zeppelin.server.port
  - service: WEBHDFS
    configName: hdfs-site
    host-key: dfs.namenode.http-address
  - service: RESOURCEMANAGER_WEB
    configName: yarn-site
    hostKey: yarn.resourcemanager.webapp.address
  - service: RANGER
    configName: ranger-admin-site
    portKey: ranger.service.http.port