server:
  contextPath: "/cb"

spring:
  cloud:
    consul:
      host: consul.service.consul
  freemarker:
    template-loader-path: file:/etc/cloudbreak,classpath:/
    prefer-file-system-access: false
  datasource:
    maxActive: 30

rest:
  debug: false
cert:
  validation: true
  ignorePreValidation: false

cb:
  publicip:
  etc.config.dir: /etc/cloudbreak
  threadpool:
    core.size: 40
    capacity.size: 4000
  intermediate.threadpool:
    core.size: 40
    capacity.size: 4000
  container.threadpool:
    core.size: 40
    capacity.size: 4000

  host.discovery.custom.hostname.enabled: false

  cert:
    dir: /certs/

  smtp.sender:
    host:
    port: 25
    username:
    password:
    from: no-reply@sequenceiq.com

  db.env:
    user: postgres
    pass:
    db: cbdb
    schema: public
    cert.file: database.crt
    ssl: false

  aws:
    spotinstances.enabled: true
    hostkey.verify: false
    external.id: provision-ambari
    cf.template.new.path: templates/aws-cf-stack.ftl
    default.inbound.security.group:
    vpc:

  azure:
    host.name.prefix.length: 3

  yarn:
    domain: default.com

  blueprint.defaults: "Data Science: Apache Spark 1.6, Apache Zeppelin 0.7.0=hdp26-data-science;EDW-ETL: Apache Hive 1.2.1, Apache Spark 1.6=hdp26-etl-edw;EDW-ETL: Apache Hive 1.2.1, Apache Spark 2.1=hdp26-etl-edw-spark2;EDW-Analytics: Apache Hive 2 LLAP, Apache Zeppelin 0.7.0=hdp26-edw-analytics;BI: Druid 0.9.2 (Technical Preview)=hdp26-druid-bi;Data Science: Apache Spark 2.1, Apache Zeppelin 0.7.0=hdp26-data-science-spark2"
  template.defaults: minviable-gcp,minviable-azure-managed-disks,minviable-aws
  custom.user.data: |
    touch /tmp/custom-user-data
    date >> /tmp/custom-user-data

  enable.custom.image: false

  mail:
    smtp:
      auth: true
      type: smtp
      starttls.enable: true
  success.cluster.installer.mail.template.path: templates/cluster-installer-mail-success.ftl
  failed.cluster.installer.mail.template.path: templates/cluster-installer-mail-fail.ftl

  docker:
    container:
      yarn.ambari.server: hortonworks/yarn-cloudbreak-ambari-server:2.5.0-v1
      yarn.ambari.agent: hortonworks/yarn-cloudbreak-ambari-agent:2.5.0-v1
      yarn.ambari.db: hortonworks/yarn-cloudbreak-postgres:9.4.1

  arm:
    template.path: templates/arm-v2.ftl
    parameter.path: templates/parameters.ftl

  openstack:
    heat.template.path: templates/openstack-heat.ftl
    api.debug: false
    hostkey.verify: false

  max:
    azure.resource.name.length: 120
    gcp.resource.name.length: 63
    aws.resource.name.length: 50
    openstack.resource.name.length: 120

    salt.new.service.retry: 90
    salt.recipe.execution.retry: 90

  address.resolving.timeout: 60000

  eventbus.threadpool.core.size: 100
  cloud.api.executorservice.pool.size: 40

  platform.default:
    variants: OPENSTACK:HEAT
    regions: AWS:eu-west-1,AZURE:North Europe,GCP:europe-west1

  gcp:
    hostkey.verify: false

  byos:
    dfs.data.dir: /hadoopfs/fs0

  nginx:
    port: 9443

  ambari:
    repo:
      version: 2.5.1.0
      baseurl: http://public-repo-1.hortonworks.com/ambari/centos6/2.x/updates/2.5.1.0
      gpgkey: http://public-repo-1.hortonworks.com/ambari/centos6/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
    database:
      vendor: embedded
      host: localhost
      port: 5432
      name: postgres
      username: ambari
      password: bigdata

  hdp:
    entries:
      2.5:
        version: 2.5.5.0
        repo:
          stack:
            repoid: HDP-2.5
            redhat6: http://public-repo-1.hortonworks.com/HDP/centos6/2.x/updates/2.5.5.0
            redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.5.5.0
          util:
            repoid: HDP-UTILS-1.1.0.21
            redhat6: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos6
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos7
      2.6:
        version: 2.6.1.0
        repo:
          stack:
            repoid: HDP-2.6
            redhat6: http://public-repo-1.hortonworks.com/HDP/centos6/2.x/updates/2.6.1.0
            redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.6.1.0
          util:
            repoid: HDP-UTILS-1.1.0.21
            redhat6: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos6
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos7

  hdf:
    entries:
      3.0:
        version: 3.0.0.0-453
        repo:
          stack:
            repoid: HDF-3.0
            redhat6: http://public-repo-1.hortonworks.com/HDF/centos6/3.x/updates/3.0.0.0
            redhat7: http://public-repo-1.hortonworks.com/HDF/centos7/3.x/updates/3.0.0.0
            mpack: http://public-repo-1.hortonworks.com/HDF/centos6/3.x/updates/3.0.0.0/tars/hdf_ambari_mp/hdf-ambari-mpack-3.0.0.0-453.tar.gz
          util:
            repoid: HDP-UTILS-1.1.0.21
            redhat6: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos6
            redhat7: http://public-repo-1.hortonworks.com/HDP-UTILS-1.1.0.21/repos/centos7
          knox:
            repoid: KNOX-HDP-2.6
            redhat6: http://public-repo-1.hortonworks.com/HDP/centos6/2.x/updates/2.6.1.0
            redhat7: http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.6.1.0

  smartsense.configure: false
  smartsense.id.pattern: A-9990%s-C-%s

  structuredevent:
    rest:
      enabled: true
      contentlogging: true

  image.catalog.url: https://s3-eu-west-1.amazonaws.com/cloudbreak-info/v2-dev-cb-image-catalog.json