html,
body,
body > div {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.background {
  width: 1370.9px;
  height: 900px;
  background-color: var(--white);
}
.cdp-logo {
  width: 507px;
  height: 32px;
  margin-bottom: 60px;
}
.Sign-In-Enjoy-the-R {
  width: 282px;
  height: 20px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.71;
  letter-spacing: normal;
  color: var(--gray-900);
}
.Username {
  width: 73px;
  height: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--gray-700);
}
.Password {
  width: 71px;
  height: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--gray-700);
}
.airplane {
  width: 59%;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}
.line-pattern {
  width: 100%;
  border: solid 1px var(--gray-50);
}
.default-button-background {
  width: 284px;
  height: 40px;
  border-radius: 3px;
  border: solid 1px var(--gray-400);
  background-color: var(--white);
}
.default-button-background-copy-2 {
  width: 89px;
  height: 40px;
  border-radius: 3px;
  background-color: var(--blue-500);
}
.login-wrapper{
	display: block;
	display: flex;
	height: 100%;
	min-width: 1260px;
}
.left-col,
.right-col {
	display: inline-block;
	height: 334px;
}

.left-col {
	background: #3fae2a url('images/pattern.png');
	position: relative;
	text-align: right;
	padding-left: 100px;
	padding-right: 100px;
}

.right-col {
	padding: 49px 90px;
	color: #49565f;
	flex-grow: 1;
    padding-left: 100px;
    position: relative;
    margin-left: 15%;
    margin-top: 225px;
}

.group-title {
	margin-bottom: 20px;
}

.right-col .field-group {
	width: 300px;
	margin: 24px 0;
}

.right-col .field-group label {
	font-weight: 300;
}
.field-group .dropdown {
	width: 100%;
}

.hwk-logo,
.product-logo {
	display: inline-block;
}

.hwk-logo {
	width: 205px;
	height: 82px;
}

.product-logo {
	color: #fff;
	border-left: 1px solid #fff;
	margin-left: 20px;
	padding-left: 100px;
	margin-top: 80px;
	padding-top: 24px; 
	padding-bottom: 24px; 
	vertical-align: -25px;
}

.right-col .action-group {
	margin-top: 30px;
	margin-bottom: 10px;
}

.error{
    position: absolute;
    color: white;
    background-color: rgb(202, 52, 52);
    padding: 6px;
    border-radius: 5px;
    font-weight: 100;
    border: 1px solid #e27d7d;
    font-size: 12px;
    bottom: 96px;
}
.error:empty{
    display: none;
}

.description {
    color: gray;
    font-style: italic;
    max-width: 400px;
    margin-top: 16px;
}