<?xml version="1.0" encoding="UTF-8"?>
<topology>
   <name>cdp-token</name>
   <gateway>
      <provider>
         <role>federation</role>
         <name>SSOCookieProvider</name>
         <enabled>true</enabled>
         <param>
            <name>sso.authentication.provider.url</name>
            <value>/{{ salt['pillar.get']('gateway:path') }}/knoxsso/api/v1/websso</value>
         </param>
         <param>
            <name>sso.token.verification.pem</name>
            <value>
               {{ salt['pillar.get']('gateway:tokencert') }}
            </value>
         </param>
      </provider>

      <provider>
         <role>identity-assertion</role>
         <name>Default</name>
         <enabled>true</enabled>
      </provider>

{% if salt['pillar.get']('gateway:envAccessGroup') is defined and salt['pillar.get']('gateway:envAccessGroup') | length > 0 %}
      <provider>
         <role>identity-assertion</role>
         <name>HadoopGroupProvider</name>
         <enabled>true</enabled>
         <param>
            <name>CENTRAL_GROUP_CONFIG_PREFIX</name>
            <value>gateway.group.config.</value>
         </param>
      </provider>

      <provider>
         <role>authorization</role>
         <name>AclsAuthz</name>
         <enabled>true</enabled>
         <param>
            <name>knox.acl.mode</name>
            <value>AND</value>
         </param>
         <param>
            <name>knoxtoken.acl</name>
            <value>*;{{ salt['pillar.get']('gateway:envAccessGroup') }};*</value>
         </param>
      </provider>
{% endif %}

   </gateway>

   <service>
      <role>KNOXTOKEN</role>
      <param>
         <name>knox.token.ttl</name>
         <value>500000</value>
      </param>
      <param>
         <name>knox.token.client.data</name>
         <value>cookie.name=hadoop-jwt</value>
      </param>
   </service>
</topology>
