    # These are Knox-specific configs
setsettings PROXYUSER_KNOX_GROUPS *
setsettings PROXYUSER_KNOX_HOSTS *
setsettings PROXYUSER_KNOX_PRINCIPAL knox
setsettings PROXYUSER_KNOX_USERS *
{% if salt['pillar.get']('gateway:userfacingfqdn') is defined and salt['pillar.get']('gateway:userfacingfqdn')|length > 1 %}
setsettings FRONTEND_URL https://{{ salt['pillar.get']('gateway:userfacingfqdn') }}/
{% else %}
setsettings FRONTEND_URL https://{{ knox_address }}:8443/
{% endif %}