<?xml version="1.0" encoding="UTF-8"?>
<topology>
    <name>{{ topology_name }}-ui</name>
    <gateway>

        <!-- {{ exposed }} -->

        {% if 'NONE' == salt['pillar.get']('gateway:ssotype') -%}

        <provider>
           <role>authentication</role>
           <name>ShiroProvider</name>
           <enabled>true</enabled>
           <param>
              <name>sessionTimeout</name>
              <value>30</value>
           </param>
           <param>
              <name>main.pamRealm</name>
              <value>org.apache.hadoop.gateway.shirorealm.KnoxPamRealm</value>
           </param>
           <param>
              <name>main.pamRealm.service</name>
              <value>login</value>
           </param>
           <param>
              <name>urls./**</name>
              <value>authcBasic</value>
           </param>
        </provider>

        {% elif 'SSO_PROVIDER_FROM_UMS' == salt['pillar.get']('gateway:ssotype') -%}

        <provider>
            <role>webappsec</role>
            <name>WebAppSec</name>
            <enabled>true</enabled>
            <param>
                <name>cors.enabled</name>
                <value>true</value>
            </param>
        </provider>

        <provider>
           <role>federation</role>
           <name>SSOCookieProvider</name>
           <enabled>true</enabled>
           <param>
              <name>sso.authentication.provider.url</name>
              <value>/{{ salt['pillar.get']('gateway:path') }}/knoxsso/api/v1/websso</value>
           </param>
        </provider>

        {%- else %}

        <provider>
            <role>webappsec</role>
            <name>WebAppSec</name>
            <enabled>true</enabled>
            <param>
                <name>cors.enabled</name>
                <value>true</value>
            </param>
        </provider>

        <provider>
           <role>federation</role>
           <name>SSOCookieProvider</name>
           <enabled>true</enabled>
           <param>
              <name>sso.authentication.provider.url</name>
              <value>/{{ salt['pillar.get']('gateway:path') }}/knoxsso/api/v1/websso</value>
           </param>
        </provider>

        {%- endif %}

        <provider>
            <role>identity-assertion</role>
            <name>Default</name>
            <enabled>true</enabled>
        </provider>

        <provider>
            <role>ha</role>
            <name>HaProvider</name>
            <enabled>true</enabled>
            {% if 'ATLAS' in exposed and 'ATLAS_SERVER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>ATLAS</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            <param>
                <name>ATLAS-API</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'HBASE' in exposed and 'HBASE' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>HBASEUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'WEBHDFS' in exposed and 'NAMENODE' in salt['pillar.get']('gateway:location') -%}
            <!-- HDFSUI doesn't support HAProvider
            <param>
                <name>HDFSUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            -->
            {%- endif %}
            {% if 'JOBHISTORYUI' in exposed and 'JOBHISTORY' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>JOBHISTORYUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'LIVYSERVER1' in exposed and 'LIVY_SERVER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>LIVYSERVER</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'OOZIE' in exposed and 'OOZIE_SERVER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>OOZIEUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'RANGER' in exposed and 'RANGER_ADMIN' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>RANGER</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            <param>
                <name>RANGERUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'SPARKHISTORYUI' in exposed and 'SPARK_YARN_HISTORY_SERVER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>SPARKHISTORYUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'SOLR' in exposed and 'SOLR_SERVER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>SOLR</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'YARNUI' in exposed and 'RESOURCEMANAGER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>YARNUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'YARNUIV2' in exposed and 'RESOURCEMANAGER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>YARNUIV2</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
            {% if 'ZEPPELIN' in exposed and 'ZEPPELIN_SERVER' in salt['pillar.get']('gateway:location') -%}
            <param>
                <name>ZEPPELINUI</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            <param>
                <name>ZEPPELINWS</name>
                <value>enabled=true;maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000</value>
            </param>
            {%- endif %}
        </provider>
    </gateway>

    {% if 'ATLAS_SERVER' in salt['pillar.get']('gateway:location') -%}
    {% if 'ATLAS' in exposed -%}
    <service>
        <role>ATLAS</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['ATLAS_SERVER'] -%}
        <url>http://{{ hostloc }}:{{ ports['ATLAS'] }}</url>
        {%- endfor %}
    </service>
    <service>
        <role>ATLAS-API</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['ATLAS_SERVER'] -%}
        <url>http://{{ hostloc }}:{{ ports['ATLAS'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'CM-API' in salt['pillar.get']('gateway:location') -%}
    {% if 'CM-API' in exposed -%}
    <service>
        <role>CM-API</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['CM-API'] -%}
        <url>http://{{ hostloc }}:{{ ports['CM-API'] }}/api</url>
        <param>
            <name>httpclient.connectionTimeout</name>
            <value>5m</value>
        </param>
        <param>
            <name>httpclient.socketTimeout</name>
            <value>5m</value>
        </param>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'CM-API' in salt['pillar.get']('gateway:location') -%}
    {% if 'CM-UI' in exposed -%}
    <service>
        <role>CM-UI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['CM-API'] -%}
        <url>http://{{ hostloc }}:{{ ports['CM-UI'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'NAMENODE' in salt['pillar.get']('gateway:location') -%}
    {% if 'HDFSUI' in exposed -%}
    <service>
        <role>HDFSUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['NAMENODE'] -%}
        <url>http://{{ hostloc }}:{{ ports['HDFSUI'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'HBASE' in salt['pillar.get']('gateway:location') -%}
    {% if 'HBASE' in exposed -%}
    <service>
        <role>HBASEUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['GATEWAY'] -%}
        <url>http://{{ hostloc }}:{{ ports['HBASE'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'JOBHISTORY' in salt['pillar.get']('gateway:location') -%}
    {% if 'JOBHISTORYUI' in exposed -%}
    <service>
        <role>JOBHISTORYUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['JOBHISTORY'] -%}
        <url>http://{{ hostloc }}:{{ ports['JOBHISTORYUI'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'LIVY_SERVER' in salt['pillar.get']('gateway:location') -%}
    {% if 'LIVYSERVER1' in exposed -%}
    <service>
        <role>LIVYSERVER</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['LIVY_SERVER'] -%}
        <url>http://{{ hostloc }}:{{ ports['LIVYSERVER1'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'OOZIE_SERVER' in salt['pillar.get']('gateway:location') -%}
    {% if 'OOZIE' in exposed -%}
    <service>
        <role>OOZIEUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['OOZIE_SERVER'] -%}
        <url>http://{{ hostloc }}:{{ ports['OOZIE'] }}/oozie</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'RANGER_ADMIN' in salt['pillar.get']('gateway:location') -%}
    {% if 'RANGER' in exposed -%}
    <service>
        <role>RANGER</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['RANGER_ADMIN'] -%}
        <url>http://{{ hostloc }}:{{ ports['RANGER'] }}</url>
        {%- endfor %}
    </service>
    <service>
        <role>RANGERUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['RANGER_ADMIN'] -%}
        <url>http://{{ hostloc }}:{{ ports['RANGER'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'SPARK_YARN_HISTORY_SERVER' in salt['pillar.get']('gateway:location') -%}
    {% if 'SPARKHISTORYUI' in exposed -%}
    <service>
        <role>SPARKHISTORYUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['SPARK_YARN_HISTORY_SERVER'] -%}
        <url>http://{{ hostloc }}:{{ ports['SPARKHISTORYUI'] }}/</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'SOLR_SERVER' in salt['pillar.get']('gateway:location') -%}
    {% if 'SOLR' in exposed -%}
    <service>
        <role>SOLR</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['SOLR_SERVER'] -%}
        <url>http://{{ hostloc }}:{{ ports['SOLR'] }}/</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'RESOURCEMANAGER' in salt['pillar.get']('gateway:location') -%}
    {% if 'YARNUI' in exposed -%}
    <service>
        <role>YARNUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['RESOURCEMANAGER'] -%}
        <url>http://{{ hostloc }}:{{ ports['YARNUI'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}

    {% if 'YARNUIV2' in exposed -%}
    <service>
        <role>YARNUIV2</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['RESOURCEMANAGER'] -%}
        <url>http://{{ hostloc }}:{{ ports['YARNUIV2'] }}</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}

    {% if 'ZEPPELIN_SERVER' in salt['pillar.get']('gateway:location') -%}
    {% if 'ZEPPELIN' in exposed -%}
    <service>
        <role>ZEPPELINUI</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['ZEPPELIN_SERVER'] -%}
        <url>http://{{ hostloc }}:{{ ports['ZEPPELIN'] }}</url>
        {%- endfor %}
    </service>
    <service>
        <role>ZEPPELINWS</role>
        {% for hostloc in salt['pillar.get']('gateway:location')['ZEPPELIN_SERVER'] -%}
        <url>ws://{{ hostloc }}:9995/ws</url>
        {%- endfor %}
    </service>
    {%- endif %}
    {%- endif %}
</topology>
