[Install]
WantedBy=multi-user.target

[Unit]
Description=kpropd Service
After=network.target network.service

[Service]
Type=forking
Restart=always
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
ExecStart=/etc/init.d/kpropd start
ExecStop=/etc/init.d/kpropd stop
