{
    "volumeCount":1,
    "volumeSize":100,
    "parameters":
    {
        "vmType":"STANDARD_D2",
        "volumeSize":100
    },
    "name":"minviable-azure",
    "public":true,
    "cloudPlatform":"AZURE"
}