{
    "volumeCount":1,
    "volumeSize":100,
    "parameters":
    {
        "gcpInstanceType":"N1_STANDARD_4",
        "volumeType":"pd-ssd"
    },
    "name":"minviable-gcp",
    "public":true,
    "cloudPlatform":"GCP"
}