{
    "volumeCount":1,
    "volumeSize":100,
    "parameters":
    {
        "instanceType":"Standard_D4",
        "volumeType":"HDD"
    },
    "name":"minviable-azure",
    "public":true,
    "cloudPlatform":"AZURE"
}