{
    "volumeCount":1,
    "volumeSize":100,
    "instanceType":"Standard_D4",
    "volumeType":"Standard_LRS",
    "name":"minviable-azure-managed-disks",
    "parameters": {
        "managedDisk": true
    },
    "public":true,
    "cloudPlatform":"AZURE"
}