{
    "volumeCount":1,
    "volumeSize":100,
    "parameters":
    {
        "sshLocation":"0.0.0.0/0",
        "instanceType":"M3Large",
        "volumeType":"Gp2",
        "encrypted":false
    },
    "name":"minviable-aws",
    "public":true,
    "cloudPlatform":"AWS"
}