{
    "volumeCount":1,
    "volumeSize":100,
    "instanceType":"m3.large",
    "volumeType":"gp2",
    "parameters":
    {
        "sshLocation":"0.0.0.0/0",
        "encrypted":false
    },
    "name":"minviable-aws",
    "public":true,
    "cloudPlatform":"AWS"
}