{
  "href" : "http://$mockServerAddress/api/v1/views?fields=versions/instances/ViewInstanceInfo,versions/ViewVersionInfo/label&versions/ViewVersionInfo/system=false&_=1508488785428",
  "items" : [
    {
      "href" : "http://$mockServerAddress/api/v1/views/CAPACITY-SCHEDULER",
      "ViewInfo" : {
        "view_name" : "CAPACITY-SCHEDULER"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/CAPACITY-SCHEDULER/versions/1.0.0",
          "ViewVersionInfo" : {
            "label" : "Capacity Scheduler",
            "system" : false,
            "version" : "1.0.0",
            "view_name" : "CAPACITY-SCHEDULER"
          },
          "instances" : [
            {
              "href" : "http://$mockServerAddress/api/v1/views/CAPACITY-SCHEDULER/versions/1.0.0/instances/AUTO_CS_INSTANCE",
              "ViewInstanceInfo" : {
                "cluster_handle" : 2,
                "cluster_type" : "LOCAL_AMBARI",
                "context_path" : "/views/CAPACITY-SCHEDULER/1.0.0/AUTO_CS_INSTANCE",
                "description" : "Manage YARN Capacity Scheduler Queues",
                "icon64_path" : null,
                "icon_path" : null,
                "instance_name" : "AUTO_CS_INSTANCE",
                "label" : "YARN Queue Manager",
                "short_url" : "auto_cs_instance",
                "short_url_name" : "capacity-scheduler_auto_cs_instance",
                "static" : false,
                "version" : "1.0.0",
                "view_name" : "CAPACITY-SCHEDULER",
                "visible" : true,
                "instance_data" : { },
                "properties" : { }
              }
            }
          ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/FILES",
      "ViewInfo" : {
        "view_name" : "FILES"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/FILES/versions/1.0.0",
          "ViewVersionInfo" : {
            "label" : "Files",
            "system" : false,
            "version" : "1.0.0",
            "view_name" : "FILES"
          },
          "instances" : [
            {
              "href" : "http://$mockServerAddress/api/v1/views/FILES/versions/1.0.0/instances/AUTO_FILES_INSTANCE",
              "ViewInstanceInfo" : {
                "cluster_handle" : 2,
                "cluster_type" : "LOCAL_AMBARI",
                "context_path" : "/views/FILES/1.0.0/AUTO_FILES_INSTANCE",
                "description" : "This view instance is auto created when the HDFS service is added to a cluster.",
                "icon64_path" : null,
                "icon_path" : null,
                "instance_name" : "AUTO_FILES_INSTANCE",
                "label" : "Files View",
                "short_url" : "auto_files_instance",
                "short_url_name" : "files_auto_files_instance",
                "static" : false,
                "validation_result" : {
                  "valid" : true,
                  "detail" : "OK"
                },
                "version" : "1.0.0",
                "view_name" : "FILES",
                "visible" : true,
                "instance_data" : { },
                "properties" : {
                  "hdfs.auth_to_local" : null,
                  "hdfs.umask-mode" : "022",
                  "tmp.dir" : "/user/${username}/files-view/tmp",
                  "view.conf.keyvalues" : null,
                  "webhdfs.auth" : null,
                  "webhdfs.client.failover.proxy.provider" : null,
                  "webhdfs.ha.namenode.http-address.nn1" : null,
                  "webhdfs.ha.namenode.http-address.nn2" : null,
                  "webhdfs.ha.namenode.https-address.nn1" : null,
                  "webhdfs.ha.namenode.https-address.nn2" : null,
                  "webhdfs.ha.namenode.rpc-address.nn1" : null,
                  "webhdfs.ha.namenode.rpc-address.nn2" : null,
                  "webhdfs.ha.namenodes.list" : null,
                  "webhdfs.nameservices" : null,
                  "webhdfs.url" : null,
                  "webhdfs.username" : "${username}"
                },
                "property_validation_results" : {
                  "hdfs.auth_to_local" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hdfs.umask-mode" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "tmp.dir" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "view.conf.keyvalues" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.auth" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.client.failover.proxy.provider" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.http-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.http-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.https-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.https-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.rpc-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.rpc-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenodes.list" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.nameservices" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.username" : {
                    "valid" : true,
                    "detail" : "OK"
                  }
                }
              }
            }
          ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/HIVE",
      "ViewInfo" : {
        "view_name" : "HIVE"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/HIVE/versions/1.5.0",
          "ViewVersionInfo" : {
            "label" : "Hive",
            "system" : false,
            "version" : "1.5.0",
            "view_name" : "HIVE"
          },
          "instances" : [
            {
              "href" : "http://$mockServerAddress/api/v1/views/HIVE/versions/1.5.0/instances/AUTO_HIVE_INSTANCE",
              "ViewInstanceInfo" : {
                "cluster_handle" : 2,
                "cluster_type" : "LOCAL_AMBARI",
                "context_path" : "/views/HIVE/1.5.0/AUTO_HIVE_INSTANCE",
                "description" : "This view instance is auto created when the Hive service is added to a cluster.",
                "icon64_path" : null,
                "icon_path" : null,
                "instance_name" : "AUTO_HIVE_INSTANCE",
                "label" : "Hive View",
                "short_url" : "auto_hive_instance",
                "short_url_name" : "hive_auto_hive_instance",
                "static" : false,
                "validation_result" : {
                  "valid" : true,
                  "detail" : "OK"
                },
                "version" : "1.5.0",
                "view_name" : "HIVE",
                "visible" : true,
                "instance_data" : { },
                "properties" : {
                  "hdfs.auth_to_local" : null,
                  "hdfs.umask-mode" : "022",
                  "hive.jdbc.url" : null,
                  "hive.ldap.configured" : "false",
                  "hive.metastore.warehouse.dir" : "/apps/hive/warehouse",
                  "hive.session.params" : "",
                  "jobs.dir" : "/user/${username}/hive/jobs",
                  "scripts.dir" : "/user/${username}/hive/scripts",
                  "scripts.settings.defaults-file" : "/user/${username}/.${instanceName}.defaultSettings",
                  "use.hive.interactive.mode" : "false",
                  "view.conf.keyvalues" : null,
                  "views.tez.instance" : null,
                  "webhdfs.auth" : null,
                  "webhdfs.client.failover.proxy.provider" : null,
                  "webhdfs.ha.namenode.http-address.nn1" : null,
                  "webhdfs.ha.namenode.http-address.nn2" : null,
                  "webhdfs.ha.namenode.https-address.nn1" : null,
                  "webhdfs.ha.namenode.https-address.nn2" : null,
                  "webhdfs.ha.namenode.rpc-address.nn1" : null,
                  "webhdfs.ha.namenode.rpc-address.nn2" : null,
                  "webhdfs.ha.namenodes.list" : null,
                  "webhdfs.nameservices" : null,
                  "webhdfs.url" : null,
                  "webhdfs.username" : "${username}",
                  "yarn.ats.url" : null,
                  "yarn.resourcemanager.url" : null
                },
                "property_validation_results" : {
                  "hdfs.auth_to_local" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hdfs.umask-mode" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.jdbc.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.ldap.configured" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.metastore.warehouse.dir" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.session.params" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "jobs.dir" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "scripts.dir" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "scripts.settings.defaults-file" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "use.hive.interactive.mode" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "view.conf.keyvalues" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "views.tez.instance" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.auth" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.client.failover.proxy.provider" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.http-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.http-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.https-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.https-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.rpc-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.rpc-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenodes.list" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.nameservices" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.username" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "yarn.ats.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "yarn.resourcemanager.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  }
                }
              }
            }
          ]
        },
        {
          "href" : "http://$mockServerAddress/api/v1/views/HIVE/versions/2.0.0",
          "ViewVersionInfo" : {
            "label" : "Hive",
            "system" : false,
            "version" : "2.0.0",
            "view_name" : "HIVE"
          },
          "instances" : [
            {
              "href" : "http://$mockServerAddress/api/v1/views/HIVE/versions/2.0.0/instances/AUTO_HIVE20_INSTANCE",
              "ViewInstanceInfo" : {
                "cluster_handle" : 2,
                "cluster_type" : "LOCAL_AMBARI",
                "context_path" : "/views/HIVE/2.0.0/AUTO_HIVE20_INSTANCE",
                "description" : "This view instance is auto created when the Hive service is added to a cluster.",
                "icon64_path" : null,
                "icon_path" : null,
                "instance_name" : "AUTO_HIVE20_INSTANCE",
                "label" : "Hive View 2.0",
                "short_url" : "auto_hive20_instance",
                "short_url_name" : "hive_auto_hive20_instance",
                "static" : false,
                "validation_result" : {
                  "valid" : true,
                  "detail" : "OK"
                },
                "version" : "2.0.0",
                "view_name" : "HIVE",
                "visible" : true,
                "instance_data" : { },
                "properties" : {
                  "hdfs.auth_to_local" : null,
                  "hdfs.umask-mode" : "022",
                  "hive.jdbc.url" : null,
                  "hive.ldap.configured" : "false",
                  "hive.metastore.warehouse.dir" : "/apps/hive/warehouse",
                  "hive.ranger.password" : "admin",
                  "hive.ranger.servicename" : null,
                  "hive.ranger.url" : null,
                  "hive.ranger.username" : "admin",
                  "hive.session.params" : "",
                  "jobs.dir" : "/user/${username}/hive/jobs",
                  "scripts.dir" : "/user/${username}/hive/scripts",
                  "scripts.settings.defaults-file" : "/user/${username}/.${instanceName}.defaultSettings",
                  "use.hive.interactive.mode" : "false",
                  "view.conf.keyvalues" : null,
                  "views.tez.instance" : null,
                  "webhdfs.auth" : null,
                  "webhdfs.client.failover.proxy.provider" : null,
                  "webhdfs.ha.namenode.http-address.nn1" : null,
                  "webhdfs.ha.namenode.http-address.nn2" : null,
                  "webhdfs.ha.namenode.https-address.nn1" : null,
                  "webhdfs.ha.namenode.https-address.nn2" : null,
                  "webhdfs.ha.namenode.rpc-address.nn1" : null,
                  "webhdfs.ha.namenode.rpc-address.nn2" : null,
                  "webhdfs.ha.namenodes.list" : null,
                  "webhdfs.nameservices" : null,
                  "webhdfs.url" : null,
                  "webhdfs.username" : "${username}",
                  "yarn.ats.url" : null,
                  "yarn.resourcemanager.url" : null
                },
                "property_validation_results" : {
                  "hdfs.auth_to_local" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hdfs.umask-mode" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.jdbc.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.ldap.configured" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.metastore.warehouse.dir" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.ranger.password" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.ranger.servicename" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.ranger.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.ranger.username" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "hive.session.params" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "jobs.dir" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "scripts.dir" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "scripts.settings.defaults-file" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "use.hive.interactive.mode" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "view.conf.keyvalues" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "views.tez.instance" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.auth" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.client.failover.proxy.provider" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.http-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.http-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.https-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.https-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.rpc-address.nn1" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenode.rpc-address.nn2" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.ha.namenodes.list" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.nameservices" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "webhdfs.username" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "yarn.ats.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  },
                  "yarn.resourcemanager.url" : {
                    "valid" : true,
                    "detail" : "OK"
                  }
                }
              }
            }
          ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/HUETOAMBARI_MIGRATION",
      "ViewInfo" : {
        "view_name" : "HUETOAMBARI_MIGRATION"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/HUETOAMBARI_MIGRATION/versions/1.0.0",
          "ViewVersionInfo" : {
            "label" : "Hue to Ambari Migration",
            "system" : false,
            "version" : "1.0.0",
            "view_name" : "HUETOAMBARI_MIGRATION"
          },
          "instances" : [ ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/PIG",
      "ViewInfo" : {
        "view_name" : "PIG"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/PIG/versions/1.0.0",
          "ViewVersionInfo" : {
            "label" : "Pig",
            "system" : false,
            "version" : "1.0.0",
            "view_name" : "PIG"
          },
          "instances" : [ ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/SLIDER",
      "ViewInfo" : {
        "view_name" : "SLIDER"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/SLIDER/versions/2.0.0",
          "ViewVersionInfo" : {
            "label" : "Slider Apps View",
            "system" : false,
            "version" : "2.0.0",
            "view_name" : "SLIDER"
          },
          "instances" : [ ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/SMARTSENSE",
      "ViewInfo" : {
        "view_name" : "SMARTSENSE"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/SMARTSENSE/versions/1.4.0.2.5.1.0-159",
          "ViewVersionInfo" : {
            "label" : "SmartSense",
            "system" : false,
            "version" : "1.4.0.2.5.1.0-159",
            "view_name" : "SMARTSENSE"
          },
          "instances" : [ ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/Storm_Monitoring",
      "ViewInfo" : {
        "view_name" : "Storm_Monitoring"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/Storm_Monitoring/versions/0.1.0",
          "ViewVersionInfo" : {
            "label" : "Storm Monitoring",
            "system" : false,
            "version" : "0.1.0",
            "view_name" : "Storm_Monitoring"
          },
          "instances" : [ ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/TEZ",
      "ViewInfo" : {
        "view_name" : "TEZ"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/TEZ/versions/0.7.0.2.6.1.0-118",
          "ViewVersionInfo" : {
            "label" : "Tez View",
            "system" : false,
            "version" : "0.7.0.2.6.1.0-118",
            "view_name" : "TEZ"
          },
          "instances" : [
            {
              "href" : "http://$mockServerAddress/api/v1/views/TEZ/versions/0.7.0.2.6.1.0-118/instances/TEZ_CLUSTER_INSTANCE",
              "ViewInstanceInfo" : {
                "cluster_handle" : 2,
                "cluster_type" : "LOCAL_AMBARI",
                "context_path" : "/views/TEZ/0.7.0.2.6.1.0-118/TEZ_CLUSTER_INSTANCE",
                "description" : "Monitor and debug all Tez jobs, submitted by Hive queries and Pig scripts (auto-created)",
                "icon64_path" : null,
                "icon_path" : null,
                "instance_name" : "TEZ_CLUSTER_INSTANCE",
                "label" : "Tez View",
                "short_url" : "tez_cluster_instance",
                "short_url_name" : "tez_tez_cluster_instance",
                "static" : false,
                "version" : "0.7.0.2.6.1.0-118",
                "view_name" : "TEZ",
                "visible" : true,
                "instance_data" : { },
                "properties" : {
                  "hadoop.http.auth.type" : null,
                  "hdfs.auth_to_local" : null,
                  "timeline.http.auth.type" : null,
                  "yarn.ats.url" : null,
                  "yarn.resourcemanager.url" : null
                }
              }
            }
          ]
        }
      ]
    },
    {
      "href" : "http://$mockServerAddress/api/v1/views/WORKFLOW_MANAGER",
      "ViewInfo" : {
        "view_name" : "WORKFLOW_MANAGER"
      },
      "versions" : [
        {
          "href" : "http://$mockServerAddress/api/v1/views/WORKFLOW_MANAGER/versions/1.0.0",
          "ViewVersionInfo" : {
            "label" : "Workflow Manager",
            "system" : false,
            "version" : "1.0.0",
            "view_name" : "WORKFLOW_MANAGER"
          },
          "instances" : [ ]
        }
      ]
    }
  ]
}
