{%- from 'fluent/settings.sls' import fluent with context %}
{%- from 'databus/settings.sls' import databus with context %}
{%- if databus.valid and fluent.dbusReportDeploymentLogs %}
<worker {{ fluent.reportDeploymentLogsWorkerIndex }}>
<match processed.databus**>
  @type copy
  <store ignore_error>
    @type                            databus
    credential_file                  /etc/td-agent/databus_credential
    credential_profile_name          dbus
    credential_file_reload_interval  60
    debug                            false
    endpoint                         "{{ databus.endpoint }}"
    headers                          app:{{ fluent.clusterType }}
    stream_name                      LogCollection
    partition_key                    "#{Socket.gethostname}"

    <buffer tag,time>
      @type file
      path /var/log/td-agent/databus_service_logs
      timekey 1m
      timekey_wait 0s
      chunk_limit_size 600k
      flush_at_shutdown true
    </buffer>
  </store>
</match>
</worker>
{% elif fluent.dbusReportDeploymentLogs %}
# DBUS settings are not valid - check dbus credentials file
{% else %}
# DBUS report bundle is disabled
{% endif %}