{%- from 'fluent/settings.sls' import fluent with context %}
{% if fluent.providerPrefix == "s3" %}
<worker {{ fluent.cloudStorageWorkerIndex }}>
<match {{fluent.providerPrefix}}.*>
  @type copy
  <store ignore_error>
    @type s3
    s3_bucket {{fluent.s3LogArchiveBucketName}}
    path "{{fluent.logFolderName}}/{{fluent.serviceLogPathSuffix}}"
    s3_object_key_format %{path}-%{hms_slice}.%{file_extension}
    auto_create_bucket false
    check_apikey_on_start false
    check_object false{% if fluent.region %}
    s3_region {{ fluent.region }}{% endif %}

    <buffer tag,time>
      @type file
      path /var/log/{{ fluent.binary }}/{{fluent.providerPrefix}}
      timekey {{fluent.partitionIntervalMin}}m
      timekey_wait 0s
      total_limit_size  2048MB
      chunk_limit_size  16m
      flush_at_shutdown true
      overflow_action drop_oldest_chunk
      disable_chunk_backup  true
      retry_timeout 1h
    </buffer>
    utc
    format single_value
  </store>
</match>
<match {{fluent.providerPrefix}}_CM_COMMAND.**>
  @type copy
  <store ignore_error>
    @type s3
    s3_bucket {{fluent.s3LogArchiveBucketName}}
    path "{{fluent.logFolderName}}/{{fluent.cmCommandLogPathSuffix}}"
    s3_object_key_format %{path}-%{hms_slice}.%{file_extension}
    auto_create_bucket false
    check_object false
    check_apikey_on_start false{% if fluent.region %}
    s3_region {{ fluent.region }}{% endif %}

    <buffer tag,time>
      @type file
      path /var/log/{{ fluent.binary }}/{{fluent.providerPrefix}}_CM_COMMAND
      timekey {{fluent.partitionIntervalMin}}m
      timekey_wait 0s
      total_limit_size  1024MB
      chunk_limit_size  16m
      flush_at_shutdown true
      overflow_action drop_oldest_chunk
      disable_chunk_backup  true
      retry_timeout 1h
    </buffer>
    utc
    format single_value
  </store>
</match>
</worker>
{% elif fluent.providerPrefix == "abfs" %}
<worker {{ fluent.cloudStorageWorkerIndex }}>
<match {{fluent.providerPrefix}}.*>
  @type copy
  <store ignore_error>
    @type azurestorage_gen2

    azure_storage_account    {{fluent.azureStorageAccount}}
    azure_container          {{fluent.azureContainer}}
{% if fluent.azureInstanceMsi is defined and fluent.azureInstanceMsi is not none and fluent.azureInstanceMsi %}
    {% if grains['hostgroup'] == "idbroker" %}
    azure_instance_msi       {{fluent.azureIdBrokerInstanceMsi}}
    {% else %}
    azure_instance_msi       {{fluent.azureInstanceMsi}}
    {% endif %}
{% else %}
    azure_storage_access_key {{fluent.azureStorageAccessKey}}
{% endif %}
    store_as                 gzip
    path                     "{{fluent.logFolderName}}/{{fluent.serviceLogPathSuffix}}"
    azure_object_key_format  %{path}-%{upload_timestamp}-%{index}.%{file_extension}
    auto_create_container    true
    enable_retry             true
    failsafe_container_check true
    startup_fail_on_error    false
    write_only               true

    <buffer tag,time>
      @type file
      path /var/log/{{ fluent.binary }}/{{fluent.providerPrefix}}
      timekey {{fluent.partitionIntervalMin}}m
      timekey_wait 0s
      total_limit_size  2048MB
      chunk_limit_size  4m
      flush_at_shutdown true
      overflow_action   drop_oldest_chunk
      disable_chunk_backup  true
      retry_type        periodic
      retry_max_times   3
      retry_wait        5s
    </buffer>
    utc
    format single_value
  </store>
</match>
<match {{fluent.providerPrefix}}_CM_COMMAND.**>
  @type copy
  <store ignore_error>
    @type azurestorage_gen2

    azure_storage_account    {{fluent.azureStorageAccount}}
    azure_container          {{fluent.azureContainer}}
{% if fluent.azureInstanceMsi is defined and fluent.azureInstanceMsi is not none and fluent.azureInstanceMsi %}
    {% if grains['hostgroup'] == "idbroker" %}
    azure_instance_msi       {{fluent.azureIdBrokerInstanceMsi}}
    {% else %}
    azure_instance_msi       {{fluent.azureInstanceMsi}}
    {% endif %}
{% else %}
    azure_storage_access_key {{fluent.azureStorageAccessKey}}
{% endif %}
    store_as                 gzip
    path                     "{{fluent.logFolderName}}/{{fluent.cmCommandLogPathSuffix}}"
    azure_object_key_format  %{path}-%{upload_timestamp}-%{index}.%{file_extension}
    auto_create_container    true
    enable_retry             true
    failsafe_container_check true
    startup_fail_on_error    false
    write_only               true

    <buffer tag,time>
      @type file
      path /var/log/{{ fluent.binary }}/{{fluent.providerPrefix}}_CM_COMMAND
      timekey {{fluent.partitionIntervalMin}}m
      timekey_wait 0s
      total_limit_size  1024MB
      chunk_limit_size  4m
      flush_at_shutdown true
      overflow_action   drop_oldest_chunk
      disable_chunk_backup  true
      retry_type        periodic
      retry_max_times   3
      retry_wait        5s
    </buffer>
    utc
    format single_value
  </store>
</match>
</worker>
{% elif fluent.providerPrefix == "gcs" and fluent.fluentVersion > 1 %}
<worker {{fluent.cloudStorageWorkerIndex }}>
  <match {{fluent.providerPrefix}}.*>
     @type gcs
     project {{ fluent.gcsProjectId }}
     bucket {{ fluent.gcsBucket }}
     object_key_format %{path}-%{upload_timestamp}-%{index}.%{file_extension}
     path "{{ fluent.logFolderName }}/{{ fluent.serviceLogPathSuffix }}"
     overwrite true
     blind_write true

     <buffer tag,time>
        @type file
        path /var/log/{{ fluent.binary }}/{{fluent.providerPrefix}}
        timekey {{fluent.partitionIntervalMin}}m
        timekey_wait 0s
        total_limit_size  1024MB
        chunk_limit_size  16m
        flush_at_shutdown true
        overflow_action   drop_oldest_chunk
        disable_chunk_backup  true
        retry_type        periodic
        retry_max_times   3
        retry_wait        5s
      </buffer>
      utc
      format single_value
  </match>
  <match {{fluent.providerPrefix}}_CM_COMMAND.**>
     @type gcs
     project {{ fluent.gcsProjectId }}
     bucket {{ fluent.gcsBucket }}
     object_key_format %{path}-%{upload_timestamp}-%{index}.%{file_extension}
     path "{{fluent.logFolderName}}/{{fluent.cmCommandLogPathSuffix}}"
     overwrite true
     blind_write true

     <buffer tag,time>
         @type file
         path /var/log/{{ fluent.binary }}/{{fluent.providerPrefix}}_CM_COMMAND
         timekey {{fluent.partitionIntervalMin}}m
         timekey_wait 0s
         total_limit_size  1024MB
         chunk_limit_size  16m
         flush_at_shutdown true
         overflow_action   drop_oldest_chunk
         disable_chunk_backup  true
         retry_type        periodic
         retry_max_times   3
         retry_wait        5s
      </buffer>
      utc
      format single_value
  </match>
</worker>
{% else %}
<worker {{fluent.cloudStorageWorkerIndex }}>
<match {{fluent.providerPrefix}}.*>
  @type stdout
</match>
</worker>
{% endif %}