server:
  servlet:
    context-path: "/environmentservice"
  shutdown: graceful

server.port: 8088

opentracing:
  allowed-header-tags: "uber-trace-id,cdp-destination-api,cdp-caller-id,x-b3-parentspanid,x-b3-traceid,x-b3-spanid,x-b3-sampled,user-agent"
  jaeger:
    log-spans: false

management:
  endpoints:
    web:
      base-path: "/"
      exposure:
        include: info,health,prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    metrics:
      enabled: true
      export:
        prometheus:
          enabled: true
    prometheus:
      enabled: true
    health:
      probes:
        enabled: true
  metrics:
    distribution:
      sla:
        "[http.server.requests]": "125ms, 250ms, 500ms, 1s, 2s"
      percentiles:
        "[http.server.requests]": "0.5, 0.95"

distrox:
  restrict:
    instance:
      types: true

altus:
  idbmms:
    host: localhost
  ums:
    host: localhost
    caller: environment
  audit:
    enabled: true
    endpoint: localhost:8982

secret:
  application: env/shared
  engine: "com.sequenceiq.cloudbreak.service.secret.vault.VaultKvV2Engine"

vault:
  addr: localhost
  port: 8200
  ssl.enabled: false
  kv.engine.v2.path: secret
  config.enabled: true
  auth:
    type: "token"
    kubernetes:
      service.account.token.path: /var/run/secrets/kubernetes.io/serviceaccount/token
      mount.path: "dps-dev"
      login.role: "cloudbreak.default"
cdp.structuredevent:
  rest:
    contentlogging: true
environment:
  cert.dir: /certs/
  structuredevent:
    rest:
      enabled: true
  cloudbreak:
    url: http://localhost:9091
    contextPath: /cb
  redbeams:
    url: http://localhost:8087
    contextPath: /redbeams
    supportedPlatforms: AWS,AZURE
  freeipa:
    url: http://localhost:8090
    contextPath: /freeipa
    synchronizeOnStart: true
    supportedPlatforms: AWS,AZURE,GCP
  sdx:
    url: http://localhost:8086
    contextPath: /dl
  db:
    host: localhost
    port: 5432
    env:
      user: postgres
      pass:
      db: environmentdb
      schema: public
      cert.file: database.crt
      ssl: false
  enabledplatforms: AWS,AZURE,YARN,GCP
  enabledParentPlatforms: AWS,MOCK
  enabledChildPlatforms: YARN,MOCK
  existing:
    ssh:
      key:
        update:
          support: AWS,MOCK
  raw:
    ssh:
      key:
        update:
          support: AZURE,GCP
  tunnel:
    default: DIRECT
  admin.group.default.prefix: cdp_
  telemetry:
    rules:
      - value: \b([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-\._]*[A-Za-z0-9])@(([A-Za-z0-9]|[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])\.)+([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])\b
        replacement: "email@redacted.host"
      - value: \d{4}[^\w]\d{4}[^\w]\d{4}[^\w]\d{4}
        replacement: "XXXX-XXXX-XXXX-XXXX"
      - value: \d{3}[^\w]\d{2}[^\w]\d{4}
        replacement: "XXX-XX-XXXX"
      - value: FPW\:\s+[\w|\W].*
        replacement: "FPW: [REDACTED]"
      - value: cdpHashedPassword=.*[']
        replacement: "[CDP PWD ATTRS REDACTED]"
  experience:
    scan:
      enabled: false

cb:
  authentication:
    disabled: false
  intermediate.threadpool:
    core.size: 40
    capacity.size: 4000
  max:
    azure.resource.name.length: 120
    gcp.resource.name.length: 63
    aws.resource.name.length: 50
    aws.loadbalancer.resource.name.length: 32
    yarn.resource.name.length: 63
  etc.config.dir: /etc/cloudbreak
  yarn:
    domain: default.com
    defaultQueue: "default"
    defaultLifeTime: 604800
    networkCidr: 172.27.0.0/16
  os:
    enable.autoimport: true
    import:
      root.url.pattern: http://public-repo-1.hortonworks.com/HDP/cloudbreak/%s.img
      from.format: qcow2
      disk.format: qcow2
      container.format: bare
  gcp:
    hostkey.verify: false
    disk.encryption.url: https://cloud-certs.storage.googleapis.com/google-cloud-csek-ingress.pem
    stopStart.batch.size: 10
    create.batch.size: 5
  aws:
    spotinstances.enabled: true
    disabled.instance.types: c5d,f1,i3,m5d,p3dn,r5d,z1d
    hostkey.verify: false
    external.id: provision-ambari
    role.session.name: cdp-provisioning
    cf.template.new.path: templates/aws-cf-stack.ftl
    cf.network.template.path: templates/aws-cf-network.ftl
    cf.template.newdb.path: templates/aws-cf-dbstack.ftl
    default.inbound.security.group:
    vpc:
    vpcendpoints:
      enabled.gateway.services:
      gateway:
        services: s3,dynamodb
      interface:
        services: autoscaling,cloudformation,ec2,ecr.api,ecr.dkr,elasticfilesystem,elasticloadbalancing,sts,rds
    credential.cache.ttl: 60
  arm:
    network:
      template.path: templates/arm-network.ftl
      dnszone.template.path: templates/arm-network-dnszone.ftl
    privateendpoint:
      services: postgresqlServer
    app.creation.template:
      command.path: templates/app-creation-command.ftl
      command.audit.path: templates/app-audit-creation-command.ftl
      json.path: templates/app-creation.json
      resource:
        app.id: 797f4846-ba00-4fd7-ba43-dac1f8f63013
        access.scope.id: 41094075-9dad-400e-a0bd-54e686782033
  azure:
    host.name.prefix.length: 255
    database.template.batchSize: 1

spring:
  application:
    name: EnvironmentService
  freemarker:
    template-loader-path: file:/etc/cloudbreak,classpath:/
    prefer-file-system-access: false
  datasource:
    maxActive: 30
  lifecycle:
    timeout-per-shutdown-phase: 60s

notification:
  urls: http://localhost:3000/notifications

crn:
  partition: cdp
  region: us-west-1

clusterdns:
  host: localhost
  port: 8982


